<ion-view cache-view="false" title="KompetenzInfo">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-done" ng-click="add()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <div>
        <ion-list id="meineKompetenzen-list7">
          <!--ng-href="#/tabcontroller/task/{{task.id}}"> -->
          <h2>{{competenceInfo.name}}</h2>
          <p style="white-space:normal;">{{competenceInfo.description}}</p>
          <ion-item class="range range-assertive">Können
            <input type="range" ng-model="comp.proficiencyValue" min="0" max="100" step="1">
            <p>{{comp.proficiencyValue}}</p>
          </ion-item>
          <ion-item class="range range-assertive" >Wichtigkeit
            <input type="range" ng-model="comp.importance" min="0" max="100" step="1">
            <p>{{comp.importance}}</p>
          </ion-item>
          <ion-toggle ng-model="mandatory" toggle-class="toggle-calm" ng-true-value="true" ng-false-value="false">Zwingend</ion-toggle>
        </ion-list>
      </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
