<ion-view title="Alle offenen Projekte" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <div ng-repeat="task in tasks">
        <div>
        <ion-item class="item-thumbnail-left"  ng-click="loadSingleTask(task.id)">
                  <!--ng-href="#/tabcontroller/task/{{task.id}}"> -->
          <img src="img/i8bhuXcQQcqLW28wQ4ka_presentation.jpg">
          <h2>{{task.name}}</h2>
          <p style="white-space:normal;">{{task.description}}</p>
          <p>Ort: {{task.location}}</p>
          <p>Von {{task.startTime}} bis {{task.endTime}}</p>

          <p>Subtasks: {{task.childTasks}}</p>




        </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
