<ion-view title="Anmelden" hide-back-button="true" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="anmelden-form1" class="list">
            <ion-list id="anmelden-list2">
                <label class="item item-input" id="anmelden-input1">
                    <span class="input-label">Benutzername</span>
                    <input type="text" placeholder="Benutzername">
                </label>
                <label class="item item-input" id="anmelden-input2">
                    <span class="input-label">Passwort</span>
                    <input type="password" placeholder="Passwort">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.startseite_tab1" id="anmelden-button1" class="button button-balanced  button-block">Anmelden</a>
            <a ui-sref="registrierung" id="anmelden-button2" class="button button-energized button-small button-block">Neuen Account anlegen</a>
        </form>
    </ion-content>
</ion-view>