<ion-view title="Meine Aufgaben" id="page23">
    <ion-content padding="true" class="has-header">
        <ion-list id="meineAufgaben-list8">
            <ion-item class="item-thumbnail-left" id="meineAufgaben-list-item41" ui-sref="tabsController.aufgabe2_enrolled">
                <img src="img/i8bhuXcQQcqLW28wQ4ka_presentation.jpg">
                <h2>Präsentation vorbereiten</h2>
                <p style="white-space:normal;">Infoabend am 30.01.2017</p>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="meineAufgaben-list-item44" ui-sref="tabsController.aufgabe1_enrolled">
                <img src="img/mOW8cSR4T4CA3L1GVQHG_rkessen.jpg">
                <h2positive>Essen auf Rädern (MO)
                    <p style="white-space:normal;">In der Region Linz, Bindermichl werden für Montag ...</p>
                </h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>