<ion-view title="Meine Kompetenzen" id="page18">
    <ion-nav-buttons side="left" class="has-header">
        <button class="button icon ion-ios-plus-empty"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-edit"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="meineKompetenzen-list7">
            <ion-item ng-repeat= "item in competences" ng-click="competenceInfo($index)">{{item.competence.name}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
