<ion-view title="Meine Kompetenzen" id="page18">
    <ion-nav-buttons side="left" class="has-header">
        <button class="button icon ion-ios-plus-empty"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-edit"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="meineKompetenzen-list7">
            <ion-item id="meineKompetenzen-list-item38">Powerpoint</ion-item>
            <ion-item class="range range-assertive" id="meineKompetenzen-range11">Gefällt mir
                <input type="range" ng-model="user.competenceRelationships[0]" value="{{user.competenceRelationships[0]}}" min="0" max="100" step="1">
            </ion-item>
            <ion-item class="range range-assertive" id="meineKompetenzen-range12">Kann ich
                <input type="range" value="50" min="0" max="100" step="1">
            </ion-item>
            <ion-item id="meineKompetenzen-list-item39">Tschechisch</ion-item>
            <ion-item class="range range-assertive" id="meineKompetenzen-range13">Gefällt mir
                <input type="range" value="90" min="0" max="100" step="1">
            </ion-item>
            <ion-item class="range range-assertive" id="meineKompetenzen-range14">Kann ich
                <input type="range" value="70" min="0" max="100" step="1">
            </ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="meineKompetenzen-toggle11">Führerschein B</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="meineKompetenzen-toggle12">Führerschein C</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="meineKompetenzen-toggle13">Rettungssanitäter</ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>
