<ion-view title="Mein Profil" id="page16">
    <ion-nav-buttons side="right" class="has-header">
      <button class="button icon ion-edit" ng-show="editFlag" ng-click="edit()"></button>
      <button class="button icon ion-checkmark "ng-hide="editFlag"  ng-click="save()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div id="meinProfil-container4">
            <form id="meinProfil-form17" class="list">
                <div>
                    <img src="img/qGg0ckwFQ7OphL6tKbic_avatar.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <ion-item class="item-divider" id="meinProfil-list-item-divider15">Basisdaten</ion-item>
                <label class="item item-input" id="meinProfil-input20">
                  <span class="input-label">Name</span>
                  <input type="text" ng-readonly="editFlag" ng-model="user.firstName">
                  <input type="text" ng-readonly="editFlag" ng-model="user.lastName">
                </label>
            </form>
        </div>
        <form id="meinProfil-form18" class="list">
            <label class="item item-input item-stacked-label" id="meinProfil-input23">
                <span class="input-label">Adresse</span>
                <input type="text" ng-readonly="editFlag" ng-model="user.adress" >
            </label>
            <label class="item item-input item-stacked-label" id="meinProfil-input8">
                <span class="input-label">Email</span>
                <input type="text" ng-readonly="editFlag" ng-model="user.email">
            </label>
            <label class="item item-input item-stacked-label" id="meinProfil-input9">
                <span class="input-label">Handy</span>
                <input type="text" ng-readonly="editFlag" ng-model="user.phone">
              </label>
            <label class="item item-input item-stacked-label" id="meinProfil-input24">
                <span class="input-label">Geburtsdatum</span>
                <input type="date" ng-readonly="editFlag" ng-model="birthDate">
            </label>
            <div id="meinProfil-button-bar4" class="button-bar">
                <button id="meinProfil-button45 class="button button-energized  button-block ">Weitere Daten</button>
            </div>
          </form>
    </ion-content>
</ion-view>
