<ion-view cache-view="false" title="Meine Aufgaben">
  <ion-content padding="true" class="has-header">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <!--<ion-toggle ng-model="completed" toggle-class="toggle-calm" ng-true-value="'COMPLETED'" ng-false-value="'!' + 'COMPLETED'" >Abgeschlossene Aufgaben</ion-toggle>-->
    <div class="item item-divider">Teilnehmend:</div>
    <ion-list>
      <div ng-repeat="task in participatingTasks">
        <ion-item class="item-thumbnail-left item-task" ng-click="loadSingleTask(task.id)">
          <img src="img/i8bhuXcQQcqLW28wQ4ka_presentation.jpg">
          <div class="row responsive-sm">
            <div class="col"><h2>{{task.name}}</h2></div>
            <div class="col">{{task.startTime | date: 'shortDate'}}</div>
            <div class="col">{{task.endTime | date: 'shortDate'}}</div>
            <div class="col"><b>{{task.taskState}}</b></div>
          </div>
          <div class="row">
            <div class="col description">{{task.description}}</div>
          </div>

          <ion-option-button class="button-positive" ng-click="follow(task.id)">Folgen</ion-option-button>
          <ion-delete-button class="ion-minus-circled"ng-click="items.splice($index, 1)"></ion-delete-button>
          <ion-reorder-button class="ion-navicon"on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

        <!--p>Anzahl Subaufgaben: {{task.childTasks}}</p-->
        <div ng-repeat="childTask in task.childTasks | filter: { taskState: completed } | filter: { taskState: started } | filter: search">
          <ion-item class="item-thumbnail-left item-subtask" ng-click="loadSingleTask(childTask.id)">
            <!--ng-href="#/tabcontroller/task/{{childTask.id}}"> -->
            <div class="row responsive-sm">
              <div class="col"><h3>{{childTask.name}}</h3></div>
              <div class="col">{{childTask.startTime | date: 'shortDate'}}</div>
              <div class="col">{{childTask.endTime | date: 'shortDate'}}</div>
              <div class="col"><b>{{childTask.taskState}}</b></div>
            </div>
            <!--p style="white-space:normal;">{{childTask.description}}</p-->

            <ion-option-button class="button-positive" ng-click="follow(childTask.id)">Folgen</ion-option-button>
            <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)"></ion-delete-button>
            <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
          </ion-item>
        </div>
      </div>
    </ion-list>
    <div class="item item-divider">Folgend:</div>
    <ion-list>
      <div ng-repeat="task in followingTasks">
        <ion-item class="item-thumbnail-left item-task" ng-click="loadSingleTask(task.id)">
          <!--ng-href="#/tabcontroller/task/{{task.id}}"> -->
          <img src="img/i8bhuXcQQcqLW28wQ4ka_presentation.jpg">
          <div class="row responsive-sm">
            <div class="col"><h2>{{task.name}}</h2></div>
            <div class="col">{{task.startTime | date: 'shortDate'}}</div>
            <div class="col">{{task.endTime | date: 'shortDate'}}</div>
            <div class="col"><b>{{task.taskState}}</b></div>
          </div>
          <div class="row">
            <div class="col description">{{task.description}}</div>
          </div>

          <ion-option-button class="button-positive" ng-click="follow(task.id)">Folgen</ion-option-button>
          <ion-delete-button class="ion-minus-circled"ng-click="items.splice($index, 1)"></ion-delete-button>
          <ion-reorder-button class="ion-navicon"on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

        <!--p>Anzahl Subaufgaben: {{task.childTasks}}</p-->
        <div ng-repeat="childTask in task.childTasks | filter: { taskState: completed } | filter: { taskState: started } | filter: search">
          <ion-item class="item-thumbnail-left item-subtask" ng-click="loadSingleTask(childTask.id)">
            <!--ng-href="#/tabcontroller/task/{{childTask.id}}"> -->
            <div class="row responsive-sm">
              <div class="col"><h3>{{childTask.name}}</h3></div>
              <div class="col">{{childTask.startTime | date: 'shortDate'}}</div>
              <div class="col">{{childTask.endTime | date: 'shortDate'}}</div>
              <div class="col"><b>{{childTask.taskState}}</b></div>
            </div>
            <!--p style="white-space:normal;">{{childTask.description}}</p-->

            <ion-option-button class="button-positive" ng-click="follow(childTask.id)">Folgen</ion-option-button>
            <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)"></ion-delete-button>
            <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
          </ion-item>
        </div>
      </div>
    </ion-list>
    <div class="item item-divider">Leading:</div>
    <ion-list>
      <div ng-repeat="task in leadingTasks">
        <ion-item class="item-thumbnail-left item-task" ng-click="loadSingleTask(task.id)">
          <!--ng-href="#/tabcontroller/task/{{task.id}}"> -->
          <img src="img/i8bhuXcQQcqLW28wQ4ka_presentation.jpg">
          <div class="row responsive-sm">
            <div class="col"><h2>{{task.name}}</h2></div>
            <div class="col">{{task.startTime | date: 'shortDate'}}</div>
            <div class="col">{{task.endTime | date: 'shortDate'}}</div>
            <div class="col"><b>{{task.taskState}}</b></div>
          </div>
          <div class="row">
            <div class="col description">{{task.description}}</div>
          </div>

          <ion-option-button class="button-positive" ng-click="follow(task.id)">Folgen</ion-option-button>
          <ion-delete-button class="ion-minus-circled"ng-click="items.splice($index, 1)"></ion-delete-button>
          <ion-reorder-button class="ion-navicon"on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

        <!--p>Anzahl Subaufgaben: {{task.childTasks}}</p-->
        <div ng-repeat="childTask in task.childTasks | filter: { taskState: completed } | filter: { taskState: started } | filter: search">
          <ion-item class="item-thumbnail-left item-subtask" ng-click="loadSingleTask(childTask.id)">
            <!--ng-href="#/tabcontroller/task/{{childTask.id}}"> -->
            <div class="row responsive-sm">
              <div class="col"><h3>{{childTask.name}}</h3></div>
              <div class="col">{{childTask.startTime | date: 'shortDate'}}</div>
              <div class="col">{{childTask.endTime | date: 'shortDate'}}</div>
              <div class="col"><b>{{childTask.taskState}}</b></div>
            </div>
            <!--p style="white-space:normal;">{{childTask.description}}</p-->

            <ion-option-button class="button-positive" ng-click="follow(childTask.id)">Folgen</ion-option-button>
            <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)"></ion-delete-button>
            <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
