<ion-view title="Organisationen" id="page9">
    <ion-content padding="true" class="has-header">
        <h4 id="organisationen-heading15" style="color:#000000;">Meine Organisationen</h4>
        <h4 id="organisationen-heading16" style="color:#000000;"></h4>
        <div id="organisationen-button-bar6" class="button-bar"></div>
        <ion-list id="organisationen-list15">
            <ion-item class="item-thumbnail-left" id="organisationen-list-item36" ui-sref="tabsController.rotesKreuzLinz">
                <img src="img/q7perPkMTTinsZEC4Fdw_rklogo.gif">
                <h2>Rotes Kreuz Linz</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="organisationen-list-item37" ui-sref="tabsController.rotesKreuzLinz">
                <img src="img/0hsSH0LYSeW0LEMzoOcD_wdslogo.png">
                <h2>Waldorfschule Linz</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <h4 id="organisationen-heading17" style="color:#000000;">Weitere Organisationen</h4>
        <form id="organisationen-form23" class="list">
            <h5 id="organisationen-heading18" style="color:#000000;">Suche</h5>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Li...">
            </label>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <h5 id="organisationen-heading19" style="color:#000000;">Filter</h5>
            <label class="item item-input" id="organisationen-input17">
                <span class="input-label">Ort</span>
                <input type="text" placeholder="Linz">
            </label>
            <label class="item item-select" id="organisationen-select3">
                <span class="input-label">Radius</span>
                <select>
                    <option>10 km</option>
                    <option>20 km</option>
                    <option>50 km</option>
                    <option>100 km</option>
                    <option>alle</option>
                    <option></option>
                </select>
            </label>
            <button id="organisationen-button60" class="button button-positive  button-block">Suchen</button>
        </form>
    </ion-content>
</ion-view>