<ion-view id="page1">
<div ng-controller="navCtrl as nav">
  <ion-tabs class="tabs-1 tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Startseite" icon="ion-android-home" ng-click="nav.onTabSelect('home')" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Aufgabenliste" icon="ion-android-list" ng-click="nav.onTabSelect('tasklist')" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Meine Aufgaben" icon="ion-clipboard" ng-click="nav.onTabSelect('myTasks')" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Nachrichten" icon="ion-android-textsms" ng-click="nav.onTabSelect('messages')" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>


    <!-- If deleted the sidemenu will not work anymore -->
    <!-- this tab is selected when a page from the sidemenu is open -->
    <ion-tab title="other_pages" class="hidden">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</div>
</ion-view>
