<ion-view title="Aufgabe2" hide-nav-bar="true" id="page15">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/7HOqUb6jTTeJeafRKenN_wand.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h5 id="aufgabe2-heading22" style="color:#327FE2;">Wände ausmalen</h5>
        <div id="aufgabe2-markdown17" style="color:#000000;">
            <p>Klassenzimmer und Werkraum im 4. Stock müssen bis Ende des Jahres neu ausgemalt werden. Dabei muss beachtet werden, dass in den Tagen davor und danach kein Unterricht in diesen Räumlichkeiten stattfindet.</p>
        </div>
        <ion-list id="aufgabe2-list27">
            <ion-item class="item-divider" id="aufgabe2-list-item-divider33">Notwendige Kompetenzen</ion-item>
            <ion-item class="item-icon-left balanced" id="aufgabe2-list-item69">
                <i class="icon ion-alert"></i>Handwerklich</ion-item>
            <ion-item class="item-divider" id="aufgabe2-list-item-divider34">Erwünschte Kompetenzen</ion-item>
        </ion-list>
        <ion-list id="aufgabe2-list28">
            <ion-item class="item-icon-left balanced" id="aufgabe2-list-item70">
                <i class="icon ion-ios-box-outline"></i>Kreativ</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="aufgabe2-list29">
            <ion-item class="item-divider" id="aufgabe2-list-item-divider35">Notwendiges Material</ion-item>
            <ion-item id="aufgabe2-list-item71">20l Dispersionsfarbe</ion-item>
            <ion-item id="aufgabe2-list-item72">1x Farbroller</ion-item>
            <ion-item id="aufgabe2-list-item73">1x Spachtel</ion-item>
            <ion-item id="aufgabe2-list-item74">10m Abdeckband</ion-item>
            <ion-item id="aufgabe2-list-item75">1 Kiste Kaiser</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="aufgabe2-list30">
            <ion-item class="item-divider" id="aufgabe2-list-item-divider36">Datum / Ort</ion-item>
            <ion-item class="item-icon-left" id="aufgabe2-list-item76">
                <i class="icon ion-calendar"></i>bis 10.12.2016</ion-item>
            <ion-item class="item-icon-left" id="aufgabe2-list-item77">
                <i class="icon ion-ios-location"></i>Baumbachstraße 11, 4020 Linz</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="aufgabe2-list31">
            <ion-item class="item-divider" id="aufgabe2-list-item-divider37">Team</ion-item>
        </ion-list>
        <div>
            <img src="img/pqEegOcSVGIT6LeDTrKB_friends-Copy.png" width="40%" height="auto" style="display:block;">
        </div>
        <a ui-sref="tabsController.home" id="aufgabe2-button74" class="button button-balanced  button-block icon-left ion-checkmark">Ich arbeite mit!</a>
        <div id="aufgabe2-button-bar10" class="button-bar">
            <a ui-sref="tabsController.home" id="aufgabe2-button75" class="button button-energized  button-block icon-left ion-ios-star">Interessiert</a>
            <button id="aufgabe2-button76" class="button button-assertive  button-block icon-left ion-android-delete">Löschen?</button>
        </div>
    </ion-content>
</ion-view>
