<ion-view title="Aufgabe1" hide-nav-bar="true" id="page12">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/VYlmQQCufa0Dowy1ZgZb_rkessen.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h5 id="aufgabe1-heading20" style="color:#327FE2;">{{task.name}}</h5>
        <div id="aufgabe1-markdown15" style="color:#000000;">
            <p>{{task.description}}</p>
        </div>
      <ion-list>
        <div ng-repeat="subTask in task.childTasks">
          <div>
            <ion-item class="item-thumbnail-left"  ng-click="loadSingleTask(subTask.id)">
              <!--ng-href="#/tabcontroller/task/{{task.id}}"> -->
              <img src="img/i8bhuXcQQcqLW28wQ4ka_presentation.jpg">
              <h2>{{subTask.name}}</h2>
              <p style="white-space:normal;">{{subTask.description}}</p>
              <p>{{subTask.location}}</p>
              <p>{{subTask.startTime}}</p>

            </ion-item>
          </div>
        </div>
      </ion-list>
      <!--
        <ion-list id="aufgabe1-list18">
            <ion-item class="item-divider" id="aufgabe1-list-item-divider23">Notwendige Kompetenzen</ion-item>
            <ion-item class="item-icon-left balanced" id="aufgabe1-list-item53">
                <i class="icon ion-alert"></i>Führerschein B</ion-item>
            <ion-item class="item-divider" id="aufgabe1-list-item-divider24">Erwünschte Kompetenzen</ion-item>
            <ion-item class="item-icon-left balanced" id="aufgabe1-list-item54">
                <i class="icon ion-heart"></i>Aus Liebe zum Menschen</ion-item>
            <ion-item class="item-icon-left assertive" id="aufgabe1-list-item55">
                <i class="icon ion-ios-location"></i>Ortskenntnis Linz</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="aufgabe1-list19">
            <ion-item class="item-divider" id="aufgabe1-list-item-divider25">Notwendiges Material</ion-item>
            <ion-item id="aufgabe1-list-item56">keine zusätzlichen Materialien notwendig</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="aufgabe1-list20">
            <ion-item class="item-divider" id="aufgabe1-list-item-divider26">Datum / Ort</ion-item>
            <ion-item class="item-icon-left" id="aufgabe1-list-item57">
                <i class="icon ion-calendar"></i>ab 14.11.2016, wöchentlich</ion-item>
            <ion-item class="item-icon-left" id="aufgabe1-list-item58">
                <i class="icon ion-ios-location"></i>Bindermichl, Linz</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="aufgabe1-list21">
            <ion-item class="item-divider" id="aufgabe1-list-item-divider27">Team</ion-item>
        </ion-list>
        <div>
            <img src="img/LBcaXEWES7e970gDDtOC_friends.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="tabsController.home" id="aufgabe1-button61" class="button button-balanced  button-block icon-left ion-checkmark">Ich arbeite mit!</a>
        <div id="aufgabe1-button-bar7" class="button-bar">
            <a ui-sref="tabsController.home" id="aufgabe1-button62" class="button button-energized  button-block icon-left ion-ios-star">Interessiert</a>
            <button id="aufgabe1-button63" class="button button-assertive  button-block icon-left ion-android-delete">Löschen?</button>
        </div>
        -->
    </ion-content>
</ion-view>
