<ion-view title="Aufgabenliste" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add-circle" ng-click="makeNewTask()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-toggle ng-model="closedtasks" toggle-class="toggle-calm">Abgeschlossene Aufgaben</ion-toggle>
    <ion-toggle ng-model="interestingtasks" toggle-class="toggle-calm">Interessante Aufgaben</ion-toggle>

    <ion-list ng-controller="swipeCtrl"
      show-delete="shouldShowDelete"
      show-reorder="shouldShowReorder"
      can-swipe="listCanSwipe">
      <div ng-repeat="task in tasks">
        <div>
          <ion-item class="item-thumbnail-left" ng-click="loadSingleTask(task.id)">
            <!--ng-href="#/tabcontroller/task/{{task.id}}"> -->
            <img src="img/i8bhuXcQQcqLW28wQ4ka_presentation.jpg">
            <h2>{{task.name}}</h2>
            <p style="white-space:normal;">{{task.description}}</p>
            <a class="button button-icon icon ion-map">{{task.location}}</a>
            <p>Von {{task.startTime}} bis {{task.endTime}}</p>
            <p>Anzahl Subaufgaben: {{task.childTasks}}</p>


            <ion-option-button class="button-positive" ng-click="follow(task.id)">Folgen</ion-option-button>

            <ion-delete-button class="ion-minus-circled"ng-click="items.splice($index, 1)"></ion-delete-button>
            <ion-reorder-button class="ion-navicon"on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
