<ion-view hide-nav-bar="false">
	<ion-nav-title>{{formTitle}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-checkmark"  ng-click="save_changes()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding has-footer">
    <div style="color:#000000;">
      <form onsubmit="event.preventDefault">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name*:</span>
          <input type="text" ng-model="task.name" style="background-color:white;" ng-class="{'has-error' : !task.name}"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Beschreibung*:</span>
          <textarea ng-model="task.description" style="background-color:white;" ng-class="{'has-error' : !task.description}"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Zahl der Freiwilligen:</span>
          <input type="number" min="1" ng-model="task.minAmountOfVolunteers" style="background-color:white;"></textarea>
        </label>
        <br>
        <div class="item item-divider">Zeit und Ort</div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Beginn*:</span>
          <div>
            <input type="datetime-local" ng-model="task.startTime" style="background-color:white;" ng-class="{'has-error' : !task.startTime}">
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Ende*:</span>
          <div>
            <input type="datetime-local" ng-model="task.endTime" style="background-color:white;" ng-class="{'has-error' : !task.endTime}">
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Ort*:</span>
          <input type="text" ng-model="task.location" style="background-color:white;" ng-class="{'has-error' : !task.location}"></textarea>
        </label>
        <br>
        <div class="item item-divider">Notwendige Kenntnisse:</div>
        <ion-list>
          <div ng-repeat="competence in neededCompetences" ng-cloak>
            <custom-accordion>
              <custom-accordion-head>
                <ion-item class="item-divider">
                  {{ competence.name }}
                  <ion-option-button class="button-assertive" ng-click="removeCompetence(competence)">Löschen</ion-option-button>
                </ion-item>
              </custom-accordion-head>
              <custom-accordion-body>
                <label class="item item-input range">
                  <span class="input-label">Wichtigkeit</span>
                  <input type="range" min="0" max="100" ng-value="competence.importanceLevel" readonly>
                </label>
                <label class="item item-input range">
                  <span class="input-label">Können</span>
                  <input type="range" min="0" max="100" ng-value="competence.neededProficiencyLevel" readonly>
                </label>
                <label class="item item-input item-toggle">
                  <span class="input-label">Zwingend</span>
                  <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="competence.mandatory">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                  </label>
                </label>
                <br>
              </custom-accordion-body>
            </custom-accordion>
          </div>
          <br>
          <custom-accordion>
            <custom-accordion-head>
              <label ion-item class="item item-divider item-input item-select">
                <span class="input-label">
                  Neu:
                </span>
                <!-- TODO: typeahead -->
                <select ng-model="competenceToAdd.id">
                  <option ng-repeat="competence in availableCompetences" ng-value="competence.id">
                    {{ competence.name }}
                  </option>
                </select>
              </label>
            </custom-accordion-head>
            <custom-accordion-body>
                <label class="item item-input range">
                  <span class="input-label">Wichtigkeit</span>
                  <input type="range" min="0" max="100" ng-model="competenceToAdd.importanceLevel">
                </label>
                <label class="item item-input range">
                  <span class="input-label">Können</span>
                  <input type="range" min="0" max="100" ng-model="competenceToAdd.neededProficiencyLevel">
                </label>
                <div class="item item-toggle">
                   Zwingend
                   <label class="toggle toggle-assertive">
                     <input type="checkbox" ng-model="competenceToAdd.mandatory">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                   </label>
                </div>
            </custom-accordion-body>
          </custom-accordion>
        </ion-list>
        <div>
          <br>
          <button type="button" ng-click="addCompetence()" class="button button-outline button-positive ion-plus">Hinzufügen</button>
        </div>
          <br>
        <div class="item item-divider">Benötigte Materialien:</div>
        <ion-list>
          <div  ng-cloak>
            <ion-item>
              <div class="row row-header">
                <span class="material-header-name">Name: </span>
                <span class="material-header-amount">Menge: </span>
                <span class="material-header-description">Beschreibung: </span>
              </div>
              <div class="row row-content" ng-repeat="material in task.materials">
                <span class="material-content-name">{{ material.name }}</span>
                <span class="material-content-amount">{{ material.quantity }}</span>
                <span class="material-content-description"> {{ material.description }}</span>
              </div>
              <div class="new-material">

                <c-accordion title="'+ Material hinzufügen'" >
                   <div class="row row-new-material">

                            <input type="text" ng-model="materialToAdd.name" placeholder="Name" class="material-new-name">

                            <input type="number" ng-model="materialToAdd.quantity" placeholder="Menge" class="material-new-amount">

                            <textarea ng-model="materialToAdd.description" placeholder="Beschreibung" class="material-new-description"></textarea>

                  </div>
                    <button type="button" ng-click="addMaterial()" class="button button-outline button-positive ion-plus">Hinzufügen</button>

                </c-accordion>
              </div>
            </ion-item>
          </div>
          <br>
          <!--<ion-item>-->
            <!--Neues Material:-->
            <!--<label class="item item-input">-->
              <!--<span class="input-label">Name</span>-->
              <!--<input type="text" ng-model="materialToAdd.name">-->
            <!--</label>-->
            <!--<label class="item item-input">-->
              <!--<span class="input-label">Menge</span>-->
              <!--<input type="number" ng-model="materialToAdd.quantity">-->
            <!--</label>-->
            <!--<label class="item item-input">-->
              <!--<span class="input-label">Beschreibung</span>-->
              <!--<textarea ng-model="materialToAdd.description"></textarea>-->
            <!--</label>-->
            <!--<br>-->
            <!--<button type="button" ng-click="addMaterial()" class="button button-outline button-positive ion-plus">Hinzufügen</button>-->
          <!--</ion-item>-->
        </ion-list>
        <div>
        </div>
      </form>
    </div>
    <br>
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <button ng-click="save_and_publish()"   ng-if="showPublish || isNewTask" class="button button-small button-outline button-balanced ion-checkmark"> Veröffentlichen </button>
      <button ng-click="readyToPublish()"     ng-if="showReadyToPublishSingle || isNewTask" class="button button-small button-outline button-balanced ion-checkmark"> Bereit </button>
      <button ng-click="readyToPublishTree()" ng-if="showReadyToPublishTree" class="button button-small button-outline button-balanced ion-checkmark"> Bereit (Alle) </button>
    </div>
  </ion-footer-bar>
</ion-view>
