<ion-view title="Aufgabe" hide-nav-bar="true"">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/VYlmQQCufa0Dowy1ZgZb_rkessen.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h5 style="color:#327FE2;">{{task.name}}</h5>
        <div style="color:#000000;">
            <p>Description: {{task.description}}</p>
            <p>Urgency: {{task.urgency}}</p>
            <p>AmountOfVolunteers: {{task.amountOfVolunteers}}</p>
            <p>Feedback: {{task.feedback}}</p>
            <p>taskState: {{task.taskState}}</p>
            <p>taskType: {{task.taskType}}</p>
            <p>taskRepetitionState: {{task.taskRepetitionState}}</p>
            <p>superTask: {{task.superTask}}</p>
            <p>childTask: {{task.childTask}}</p>
            <p>previousTask: {{task.previousTask}}</p>
            <p>nextTask: {{task.nextTask}}</p>



        </div>
      <ion-list>
        <div ng-repeat="subTask in task.childTasks">
          <div>
            <ion-item class="item-thumbnail-left"  ng-click="loadSingleTask(subTask.id)">
              <!--ng-href="#/tabcontroller/task/{{task.id}}"> -->
              <img src="img/i8bhuXcQQcqLW28wQ4ka_presentation.jpg">
              <h2>{{subTask.name}}</h2>
              <p style="white-space:normal;">{{subTask.description}}</p>
              <p>{{subTask.location}}</p>
              <p>{{subTask.startTime}}</p>
              <p>{{subTask.endTime}}</p>


            </ion-item>
          </div>
        </div>
      </ion-list>

    </ion-content>
</ion-view>
