<ion-view title="Aufgabe2_enrolled" hide-nav-bar="true" id="page13">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/noQwmdTMQZChujfsJGYD_secretproject_1.gif" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 8px;"></div>
        <h5 id="aufgabe2_enrolled-heading13" style="color:#327FE2;">Wände ausmalen</h5>
        <div>
            <img src="img/7HOqUb6jTTeJeafRKenN_wand.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <div id="aufgabe2_enrolled-markdown20" style="color:#000000;">
            <p>Klassenzimmer und Werkraum im 4. Stock müssen bis Ende des Jahres ...</p>
        </div>
        <button id="aufgabe2_enrolled-button77" class="button button-positive  button-block">Nachricht senden</button>
        <ion-list id="aufgabe2_enrolled-list10">
            <ion-list id="aufgabe2_enrolled-list32">
                <ion-item class="item-avatar assertive" id="aufgabe2_enrolled-list-item84">
                    <img src="img/b1oTJcBTymkCCZAuyq5S_avatar2.png">
                    <h2assertive>Lagerung von Materialien
                        <p>Ist es möglich, dass wir die benötigten ...</p>
                    </h2assertive>
                </ion-item>
                <ion-item class="item-avatar" id="aufgabe2_enrolled-list-item85">
                    <img src="img/wSpOdGHpSzGysrXd1nnR_avatarfem2.jpg">
                    <h2>Vorschläge für die Farbe</h2>
                    <p>Ich finde wir sollten unterschiedliche ...</p>
                </ion-item>
                <ion-item class="item-avatar" id="aufgabe2_enrolled-list-item86">
                    <img src="img/1lZ3VOkiRqOOdIDOu9mn_avatar.png">
                    <h2>Ersatz für mich</h2>
                    <p>Leider habe ich nun doch keine Zeit...</p>
                </ion-item>
                <ion-item class="item-divider" id="aufgabe2_enrolled-list-item-divider16"></ion-item>
            </ion-list>
            <ion-item class="item-icon-right positive" id="aufgabe2_enrolled-list-item79">Kompetenzen
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right positive" id="aufgabe2_enrolled-list-item80">Materialien
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="aufgabe2_enrolled-list12">
            <ion-item class="item-divider" id="aufgabe2_enrolled-list-item-divider17">Datum / Ort</ion-item>
            <ion-item class="item-icon-left" id="aufgabe2_enrolled-list-item16">
                <i class="icon ion-calendar"></i>bis 10.12.2016</ion-item>
            <ion-item class="item-icon-left" id="aufgabe2_enrolled-list-item17">
                <i class="icon ion-ios-location"></i>Baumbachstraße 11, 4020 Linz</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="aufgabe2_enrolled-list9">
            <ion-item class="item-divider" id="aufgabe2_enrolled-list-item-divider18">Team</ion-item>
        </ion-list>
        <div>
            <img src="img/Hme0ka6NTp2K7WV5buuf_friends-Copy2.png" width="40%" height="auto" style="display:block;">
        </div>
        <a ui-sref="tabsController.home" id="aufgabe2_enrolled-button46" class="button button-assertive  button-block icon-left ion-android-close">Von dieser Aufgabe abmelden!</a>
        <div id="aufgabe2_enrolled-button-bar5" class="button-bar"></div>
    </ion-content>
</ion-view>
