<ion-view title="Aufgabe bearbeiten" hide-nav-bar="false">
  <ion-nav-buttons side="right">
    <button ng-if="!isNewTask" class="button icon ion-checkmark"  ng-click="save()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding has-footer">
    <div style="color:#000000;">
      <form onsubmit="event.preventDefault">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name:</span>
          <input type="text" ng-model="task.name" style="background-color:white;"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Beschreibung:</span>
          <textarea ng-model="task.description" style="background-color:white;"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Zahl der Freiwilligen:</span>
          <input type="number" min="1" ng-model="task.minAmountOfVolunteers" style="background-color:white;"></textarea>
        </label>
        <br>
        <div class="item item-divider">Zeit und Ort</div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Beginn:</span>
          <input type="datetime-local" ng-model="task.startTime" style="background-color:white;">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Ende:</span>
          <input type="datetime-local" ng-model="task.endTime" style="background-color:white;">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Ort:</span>
          <input type="text" ng-model="task.location" style="background-color:white;"></textarea>
        </label>
        <br>
        <div class="item item-divider">Notwendige Kenntnisse:</div>
        <ion-list>
          <div ng-repeat="competence in neededCompetences" ng-cloak>
            <custom-accordion>
              <custom-accordion-head>
                <ion-item>
                  {{ competence.name }}
                  <ion-option-button class="button-assertive" ng-click="removeCompetence(competence)">Löschen</ion-option-button>
                </ion-item>
              </custom-accordion-head>
              <custom-accordion-body>
                <label class="item item-input range">
                  <span class="input-label">Wichtigkeit</span>
                  <input type="range" min="0" max="100" ng-value="competence.importance" readonly>
                </label>
                <label class="item item-input range">
                  <span class="input-label">Können</span>
                  <input type="range" min="0" max="100" ng-value="competence.proficiency" readonly>
                </label>
                <div class="item item-toggle">
                   Zwingend
                   <label class="toggle toggle-assertive">
                     <input type="checkbox" ng-model="competence.mandatory">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                   </label>
                </div>
              </custom-accordion-body>
            </custom-accordion>
          </div>
          <br>
          <custom-accordion>
            <custom-accordion-head>
              <label class="item item-input item-select">
                <span class="input-label">
                  Neu:
                </span>
                <!-- TODO: typeahead -->
                <select ng-model="competenceToAdd.id">
                  <option ng-repeat="competence in availableCompetences" ng-value="competence.id">
                    {{ competence.name }}
                  </option>
                </select>
              </label>
            </custom-accordion-head>
            <custom-accordion-body>
                <label class="item item-input range">
                  <span class="input-label">Wichtigkeit</span>
                  <input type="range" min="0" max="100" ng-model="competenceToAdd.importance">
                </label>
                <label class="item item-input range">
                  <span class="input-label">Können</span>
                  <input type="range" min="0" max="100" ng-model="competenceToAdd.proficiency">
                </label>
                <div class="item item-toggle">
                   Zwingend
                   <label class="toggle toggle-assertive">
                     <input type="checkbox" ng-model="competenceToAdd.mandatory">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                   </label>
                </div>
            </custom-accordion-body>
          </custom-accordion>
        </ion-list>
        <div>
          <br>
          <button type="button" ng-click="addCompetence()" class="button button-outline button-positive ion-plus">Hinzufügen</button>
        </div>
          <br>
        <div class="item item-divider">Benötigte Materialien:</div>
        <ion-list>
          <div ng-repeat="material in task.materials" ng-cloak>
            <ion-item>
              <div class="row">
                  Name: {{ material.name }}
              </div>
              <div class="row">
                Menge: {{ material.quantity }}
              </div>
              <div class="row">
                <div class="column">
                  Beschreibung:
                </div>
                <div class="column" style="white-space: pre-line;"> {{ material.description }} </div>
              </div>
              <ion-option-button class="button-assertive" ng-click="removeMaterial(material)">Löschen</ion-option-button>
            </ion-item>
          </div>
          <br>
          <ion-item>
            Neues Material:
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text" ng-model="materialToAdd.name">
            </label>
            <label class="item item-input">
              <span class="input-label">Menge</span>
              <input type="number" ng-model="materialToAdd.quantity">
            </label>
            <label class="item item-input">
              <span class="input-label">Beschreibung</span>
              <textarea ng-model="materialToAdd.description"></textarea>
            </label>
            <br>
            <button type="button" ng-click="addMaterial()" class="button button-outline button-positive ion-plus">Hinzufügen</button>
          </ion-item>
        </ion-list>
        <div>
        </div>
      </form>
    </div>
    <br>
  </ion-content>
  <ion-footer-bar>
    <div class="buttons" ng-if="!isNewTask">
      <button ng-click="publish()"            ng-if="showPublish" class="button button-outline button-balanced ion-checkmark" ng-disabled="!task.readyToPublish"> Veröffentlichen </button>
      <button ng-click="readyToPublish()"     ng-if="showReadyToPublishSingle" class="button button-outline button-balanced ion-checkmark"> Bereit </button>
      <button ng-click="readyToPublishTree()" ng-if="showReadyToPublishTree" class="button button-outline button-balanced ion-checkmark"> Bereit (Alle) </button>
    </div>
    <div class="buttons" ng-if="isNewTask">
      <button ng-click="save_and_back()" class="button button-outline button-balanced ion-checkmark"> Speichern </button>
      <button ng-click="save_and_publish()" class="button button-outline button-balanced ion-checkmark"> Speichern  und Veröffentlichen </button>
    </div>
  </ion-footer-bar>
</ion-view>
