<ion-view title="Aufgabe1_enrolled" hide-nav-bar="true" id="page14">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/wejQNitQgCPGCqo6eRBK_secretproject_1.gif" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h5 id="aufgabe1_enrolled-heading21" style="color:#327FE2;">Essen auf Rädern (MO)</h5>
        <div>
            <img src="img/VYlmQQCufa0Dowy1ZgZb_rkessen.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <div id="aufgabe1_enrolled-markdown16" style="color:#000000;">
            <p>In der Region Linz,
                <strong>Bindermichl</strong>werden für ...</p>
        </div>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <button id="aufgabe1_enrolled-button78" class="button button-positive  button-block">Nachricht schreiben</button>
        <ion-list id="aufgabe1_enrolled-list23">
            <ion-list id="aufgabe1_enrolled-list33">
                <ion-item class="item-avatar" id="aufgabe1_enrolled-list-item93">
                    <img src="img/NiJPAPF7TNWOs0eX1Oqc_avatarfem2.jpg">
                    <h2>Wie viele Personen?</h2>
                    <p>Wie viele Personen werden insgesamt...</p>
                </ion-item>
                <ion-item class="item-avatar" id="aufgabe1_enrolled-list-item95">
                    <img src="img/AZCZCEuDQ2augPSdJUua_avatar.png">
                    <h2>Interesse, aber erstes mal</h2>
                    <p>Würde gerne helfen, habe aber noch ....</p>
                </ion-item>
            </ion-list>
            <ion-item class="item-divider" id="aufgabe1_enrolled-list-item-divider20"></ion-item>
            <ion-item class="item-icon-right positive" id="aufgabe1_enrolled-list-item88">Kompetenzen
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right positive" id="aufgabe1_enrolled-list-item89">Materialien
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="aufgabe1_enrolled-list25">
            <ion-item class="item-divider" id="aufgabe1_enrolled-list-item-divider31">Datum / Ort</ion-item>
            <ion-item class="item-icon-left" id="aufgabe1_enrolled-list-item67">
                <i class="icon ion-calendar"></i>ab 14.11.2016, wöchentlich</ion-item>
            <ion-item class="item-icon-left" id="aufgabe1_enrolled-list-item68">
                <i class="icon ion-ios-location"></i>Bindermichl, Linz</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <ion-list id="aufgabe1_enrolled-list26">
            <ion-item class="item-divider" id="aufgabe1_enrolled-list-item-divider32">Team</ion-item>
        </ion-list>
        <div>
            <img src="img/LBcaXEWES7e970gDDtOC_friends.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="tabsController.home" id="aufgabe1_enrolled-button71" class="button button-assertive  button-block icon-left ion-android-close">Von dieser Aufgabe abmelden!</a>
        <div id="aufgabe1_enrolled-button-bar9" class="button-bar"></div>
    </ion-content>
</ion-view>
