<ion-view hide-nav-bar="false">
  <ion-nav-title>Aufgabe Bearbeiten</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-checkmark"  ng-click="save_changes()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding has-footer">			

	<div class="form-block">
		<h2>{{task.name}}</h2>
		<select ng-model="view">
			<option value="competences">Kompetenzen</option>
			<option value="materials">Materialien</option>
			<option value="shifts">Schichten</option>
		</select>
	</div>
  
  <div class="form-block-border" ng-if="view == 'competences'">
	  <div class="item item-divider-top">Notwendige Kompetenzen</div>
	  <ion-list>
		<ion-item  ng-cloak class="no-border-radius">
		  <div ng-repeat="competence in neededCompetences | orderBy: 'name' " ng-cloak>
			<c-accordion title="competence.name" class="">

			  <div class="internal-block">
				<label class="item item-input range">
				  <span class="input-label">Wichtigkeit</span>
				  <input type="range" min="0" max="100" ng-model="competence.importanceLevel"  >
				  <p>{{competence.importanceLevel}}</p>
				</label>
				<label class="item item-input range">
				  <span class="input-label">Können</span>
				  <input type="range" min="0" max="100" ng-model="competence.neededProficiencyLevel"  >
				  <p>{{competence.neededProficiencyLevel}}</p>
				</label>
				<label class="item item-input item-toggle">
				  <span class="input-label">Zwingend</span>
				  <label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="competence.mandatory">
					<div class="track">
					  <div class="handle"></div>
					</div>
				  </label>
				</label>
				<button type="button" ng-click="removeCompetence(competence)"
									  class="button button-full button-assertive ion-ios-trash-outline no-border-radius"> Löschen</button>
			  </div>
			</c-accordion>
		  </div>
		  <br>
		  <custom-accordion>
			<custom-accordion-head>
			  <div class="item item-divider ion-plus">
				Kompetenz hinzufügen
			  </div>
			</custom-accordion-head>
			<custom-accordion-body>
			  <label class="item item-input item-select">
				<div class="input-label">
				  Kompetenz
				</div>
				<select ng-model="competenceToAdd.id">
				  <option>--bitte wählen--</option>
				  <option ng-repeat="competence in availableCompetences | orderBy: 'name'" ng-value="competence.id">
				  {{ competence.name }}
				  </option>
				</select>
			  </label>
			  <label class="item item-input range">
				<span class="input-label">Wichtigkeit</span>
				<input type="range" min="0" max="100" ng-model="competenceToAdd.importanceLevel">
				<p>{{competenceToAdd.importanceLevel}}</p>
			  </label>
			  <div>


			  </div>
			  <label class="item item-input range">
				<span class="input-label">Können</span>
				<input type="range" min="0" max="100" ng-model="competenceToAdd.neededProficiencyLevel">
				<p>{{competenceToAdd.neededProficiencyLevel}}</p>
			  </label>

			  <div class="item item-toggle">
				Zwingend
				<label class="toggle toggle-assertive">
				  <input type="checkbox" ng-model="competenceToAdd.mandatory">
				  <div class="track">
					<div class="handle"></div>
				  </div>
				</label>
			  </div>
			  <div>
				<!--<span>-->
				<!--<i class="ion-information-circled"></i>-->
				<!--<span>-->
				<!--Die Kategorie &bdquo;Wichtigkeit&ldquo; bezieht sich auf die Aufgabe, wie wichtig diese für mich ist-->
				<!--bzw. für das Gelingen des Projekts.-->
				<!--</span>-->
				<!--</span>-->

			  </div>
			  <button type="button" ng-click="addCompetence()" class="button button-block button-positive ion-plus no-border-radius"> Hinzufügen</button>
			</custom-accordion-body>
		  </custom-accordion>
		</ion-item>
	  </ion-list>
	</div>

	<div class="form-block" ng-if="view == 'materials'">
	  <div class="item item-divider-top">Benötigte Materialien</div>
	  <ion-list>
		<div  ng-cloak>
		  <ion-item>
			<div class="row row-header">
			  <span class="material-header-name">Name: </span>
			  <span class="material-header-amount">Menge: </span>
			  <span class="material-header-description">Beschreibung: </span>
			</div>
			<div class="row row-content" ng-repeat="material in task.materials">
			  <input type="text" class="material-content-name"        ng-model="material.name">
			  <input type="number" class="material-content-amount"    ng-model="material.quantity">
			  <input type="text" class="material-content-description" ng-model="material.description">
			  <button type="button" ng-click="removeMaterial(material)" class="button button-small button-assertive "> Entfernen</button>
			</div>
			<div class="new-material">

			  <c-accordion title="' Material hinzufügen'" >
				<div class="list">
				  <label class="item item-input item-stacked-label">
					<span class="input-label new-material-label">Name</span>
					<input ng-model="materialToAdd.name" placeholder="Name" type="text" class="new-material-input">
				  </label>
				  <label class="item item-input item-stacked-label">
					<span class="input-label new-material-label">Menge</span>
					<input type="number" ng-model="materialToAdd.quantity" placeholder="Menge" class="new-material-input">
				  </label>
				  <label class="item item-input item-stacked-label">
					<span class="input-label new-material-label">Beschreibung</span>
					<textarea ng-model="materialToAdd.description" placeholder="Beschreibung" class="new-material-input"></textarea>
				  </label>
				  <button type="button" ng-click="addMaterial()" class="button button-full button-positive ion-plus no-border-radius"> Hinzufügen</button>
				</div>

			  </c-accordion>
			</div>
		  </ion-item>
		</div>
	  </ion-list>
	</div>
	
	<!-- TODO convert this from materials to actual shifts...
	
	<div class="form-block" ng-if="view == 'shifts'">
	  <div class="item item-divider-top">Schichten</div>
	  <ion-list>
		<div  ng-cloak>
		  <ion-item>
			<div class="row row-header">
			  <span class="material-header-name">Name: </span>
			  <span class="material-header-amount">Menge: </span>
			  <span class="material-header-description">Beschreibung: </span>
			</div>
			<div class="row row-content" ng-repeat="material in task.materials">
			  <input type="text" class="material-content-name"        ng-model="material.name">
			  <input type="number" class="material-content-amount"    ng-model="material.quantity">
			  <input type="text" class="material-content-description" ng-model="material.description">
			  <button type="button" ng-click="removeMaterial(material)" class="button button-small button-assertive "> Entfernen</button>
			</div>
			<div class="new-material">

			  <c-accordion title="' Material hinzufügen'" >
				<div class="list">
				  <label class="item item-input item-stacked-label">
					<span class="input-label new-material-label">Name</span>
					<input ng-model="materialToAdd.name" placeholder="Name" type="text" class="new-material-input">
				  </label>
				  <label class="item item-input item-stacked-label">
					<span class="input-label new-material-label">Menge</span>
					<input type="number" ng-model="materialToAdd.quantity" placeholder="Menge" class="new-material-input">
				  </label>
				  <label class="item item-input item-stacked-label">
					<span class="input-label new-material-label">Beschreibung</span>
					<textarea ng-model="materialToAdd.description" placeholder="Beschreibung" class="new-material-input"></textarea>
				  </label>
				  <button type="button" ng-click="addMaterial()" class="button button-full button-positive ion-plus no-border-radius"> Hinzufügen</button>
				</div>

			  </c-accordion>
			</div>
		  </ion-item>
		</div>
	  </ion-list>
	</div>
	-->
</div>