<ion-view title="Willkommen" hide-back-button="true" id="page8">
    <ion-content padding="true" class="has-header">
        <h4 id="willkommen-heading2" style="color:#000000;">Assistent zum schnellen Einrichten deines Profils</h4>
        <div id="willkommen-markdown9" style="color:#000000;">
            <p>Wir stellen dir ein paar Fragen um dich besser kennenzulernen und dir Aufgaben zu zeigen welche auf dein persönliches Profil passen.</p>

            <p>Nimm dir doch bitte ein paar Minuten Zeit oder führe den Assistenten später durch indem du ihn in deinem Profil aufrufst.</p>
        </div>
        <div id="willkommen-button-bar1" class="button-bar">
            <a ui-sref="tabsController.startseite_tab1" id="willkommen-button10" style="font-size:15px;" class="button button-balanced  button-block">Fertig</a>
            <a ui-sref="tabsController.startseite_tab1" id="willkommen-button12" style="font-size:15px;" class="button button-assertive  button-block">Später ausführen</a>
        </div>
    </ion-content>
</ion-view>