<ion-header>
  <ion-navbar>
    <ion-buttons end *ngIf="isCurrentUser">
      <button ion-button icon-only (click)="editProfile()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="user">
    <ion-card>
      <ion-card-header>
        {{user.firstName}} {{user.lastName}}
      </ion-card-header>
      <ion-card-content>
        <img src="assets/img/avatar-placeholder1.png">
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-list class="user-details">
          <ion-item>
            <ion-label fixed>Username</ion-label>
            <ion-label>{{user.name}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label fixed>Email</ion-label>
            <ion-label>{{user.email}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label fixed>Adresse</ion-label>
            <ion-label>{{user.address}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label fixed>Telefon</ion-label>
            <ion-label>{{user.phone}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label fixed>Geburtstag</ion-label>
            <ion-label>{{ user.birthDate | date: 'dd.MM.yyyy' }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>

<ng-template [ngIf]="friendNotification != undefined">
<ion-footer>
  <ion-toolbar>
    <div class="toolbar-buttons">
      <button ion-button (click)="decline()" color="danger" block
              *ngIf="friendNotificationId !== -1">
        Ablehnen
      </button>
      <button ion-button (click)="accept()" color="secondary" block
              *ngIf="friendNotificationId > -1">
        Zustimmen
      </button>
      <!-- send friend request here? -->
    </div>
  </ion-toolbar>
</ion-footer>
</ng-template>
