page-profile-details {
  .user-details {
    .item-block {
      align-items: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
    }
    ion-label {
      white-space: normal;
    }
    .item,
    .item-ios,
    .item-md {
      font-size: 1.4rem;
    }
  }

  img {
    margin: auto;
    max-width: 20em;
    width:80%;
  }
}
