<ion-modal-view>
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="content-title">Wirklich ausloggen?</div>
      </div>
    </div>
    <div class="row responsive-lg">
      <div class="col">
        <button ng-click="logout()" ui-sref="login" class="button button-block button-outline button-positive button-assertive">
          <i class="ion-log-out"></i> Ja - ausloggen
        </button>
      </div>
      <div class="col">
        <button ng-click="modal.hide()" class="button button-block button-outline button-positive button-balanced">
          <i class="ion-log-in"></i> Nein - eingeloggt bleiben
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
