<ion-content>
  <ion-card>
    <ion-card-header>
      Wirklich Ausloggen?
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button (click)="logout()" block color="danger"> Ausloggen </button>
          </ion-col>
          <ion-col>
            <button ion-button (click)="closeModal()" block color="light"> Eingeloggt Bleiben </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
