<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Wirklich ausloggen?</h1>
      </ion-col>
    </ion-row>
    <ion-row class="row responsive-lg">
      <div class="col">
        <button ng-click="logout()" ui-sref="login" class="button button-block button-outline button-positive button-assertive">
          <i class="ion-log-out"></i> Ja - ausloggen
        </button>
      </div>
      <div class="col">
        <button ng-click="modal.hide()" class="button button-block button-outline button-positive button-balanced">
          <i class="ion-log-in"></i> Nein - eingeloggt bleiben
        </button>
      </div>
    </div>
  </ion-grid>
</ion-content>
