<ion-header>
    <ion-navbar>
        <ion-title>Filterkonfiguration</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            Zeitfilter
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-grid no-padding>
                    <ion-row>
                        <ion-col no-padding>
                            <ion-item>
                                <ion-label stacked>Beginndatum*</ion-label>
                                <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="startDateMin" name="startDate"
                                              [ngClass]="{'has-error' : !startDate}" [min]="minimumDate" [max]="maximumDate"></ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col no-padding>
                            <ion-item>
                                <ion-label stacked>Enddatum</ion-label>
                                <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="endDateMin"
                                              name="endTime" [min]="minimumDate" [max]="maximumDate" ></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            Ortsfilter
        </ion-card-header>
        <ion-card-content>
            <ion-input placeholder="Stadt" [(ngModel)]="getRegion"></ion-input>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            Freunde
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngIf="friends.length > 0">
                    <ion-label>Freunde auswählen</ion-label>
                    <ion-select [(ngModel)]="selectedUsers" multiple="true" cancelText="Zurück" okText="Speichern"
                                name="friends">
                        <ion-option *ngFor="let friend of friends" [value]="friend.name" selected="false"> {{
                            friend.name }}
                        </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="friends.length < 1">
                    Du hast noch keine Freunde.
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <div class="button-middle">
        <button ion-button icon-left (click)="applyFilters($event)">
            <ion-icon name="ios-funnel"></ion-icon>
            Filter anwenden
        </button>
    </div>
</ion-content>
