<ion-header>
  <ion-navbar>
    <ion-title>
      <span *ngIf="task" text-wrap> {{ task.name }} </span>
    </ion-title>
    <ion-buttons end>
      <button *ngIf="task?.permissions" ion-button icon-only (click)="edit()">
        <ion-icon name="crac-edit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!--
  <ion-toolbar>
    <ion-title class="full">
      <span *ngIf="task" text-wrap> {{ task.name }} </span>
    </ion-title>
  </ion-toolbar>
  -->
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="task">

    <ion-card *ngIf="task.description">
      <ion-card-content class="task-detail__header__desc">
        {{task.description}}
      </ion-card-content>
    </ion-card>

    <collapsible-card>
      <div card-header>
        Zeit & Ort
      </div>
      <div card-content>
        <span class="task-detail__content__headline"> Zeit: </span>
        <div *ngIf="timeChoice == 'slot'">
          <div> Von: {{ task.startTime | date: 'dd.MM.yyyy H:mm' }}</div>
          <div> Bis: {{ task.endTime | date: 'dd.MM.yyyy H:mm' }}</div>
        </div>
        <div *ngIf="timeChoice == 'point'">
          <div class="row"> {{ task.endTime | date: 'dd.MM.yyyy -- H:mm' }}</div>
        </div>
        <div *ngIf="task.address">
          <span class="task-detail__content__headline"> Adresse: </span>
          <div>{{task.address}}</div>
          <span (click)="openMapView()">
            <ion-icon name="open" tappable="tappable"></ion-icon>
            Auf Karte anzeigen
          </span>
        </div>
      </div>
    </collapsible-card>
    <collapsible-card>
      <div card-header>
        Team ({{task.signedUsers}}{{(task.taskType == 'WORKABLE' && task.childTasks?.length == 0) ? ' / ' + task.minAmountOfVolunteers : ''}})
      </div>
      <div card-content>
        <ion-list class="team-list">
          <ion-label stacked> Organisatoren </ion-label>
          <ion-item *ngFor="let member of getLeading(team)">
            <ion-icon name="star" color="primary" class="icon-role icon-role-leader"></ion-icon>
            <ion-avatar item-left>
              <img src="../../assets/img/avatar-placeholder1.png">
            </ion-avatar>
            <h2>
              <strong *ngIf="member?.self">Ich</strong>
              <span *ngIf="!member?.self">{{member?.name}}</span>
            </h2>
          </ion-item>
          <ion-label stacked> Teilnehmer </ion-label>
          <ion-item *ngFor="let member of getParticipants(team)">
            <ion-icon *ngIf="member.isLeading" name="star" color="primary" class="icon-role icon-role-leader"></ion-icon>
            <ion-icon *ngIf="member.isParticipant" name="person" class="icon-role"></ion-icon>
            <ion-avatar item-left>
              <img src="../../assets/img/avatar-placeholder1.png">
            </ion-avatar>
            <h2>
              <strong *ngIf="member?.self">Ich</strong>
              <span *ngIf="!member?.self">{{member?.name}}</span>
            </h2>
            <ng-container item-right *ngIf="participationType === 'LEADING' && task.taskType === 'WORKABLE'">
              <ion-icon name="checkmark-circle" color="secondary" *ngIf="member.completed"></ion-icon>
              <ion-icon name="checkmark-circle-outline" color="light" *ngIf="!member.completed"></ion-icon>
            </ng-container>
          </ion-item>
        </ion-list>
      </div>
    </collapsible-card>

    <collapsible-card *ngIf="task.superTask">
      <div card-header>
        Übergeordnete Aufgabe
      </div>
      <div card-content>
        <ion-list>
          <task-preview [task]="task.superTask"></task-preview>
        </ion-list>
      </div>
    </collapsible-card>

    <collapsible-card *ngIf="task.taskType == 'ORGANISATIONAL'">
      <div card-header>
        Unteraufgaben ({{task.childTasks.length}})
      </div>
      <div card-content>
        <ion-list>
          <div *ngFor="let task of task.childTasks">
            <task-preview item-block [task]="task"></task-preview>
          </div>
          <ion-item>
            <button ion-button color="light" (click)="makeNewSubTask()" *ngIf="task.permissions" block>
              Unteraufgaben hinzufügen
            </button>
          </ion-item>
        </ion-list>
      </div>
    </collapsible-card>

    <collapsible-card *ngIf="task.taskType == 'WORKABLE'">
      <div card-header>
        Kompetenzen ({{task.taskCompetences?.length}})
      </div>
      <div card-content>
        <ion-list>
          <collapsible-card *ngFor="let comp of task.taskCompetences">
            <span card-header> {{comp.name}} </span>
            <div card-content>
              <ion-item>
                <ion-label stacked>Können<span float-right>{{comp.neededProficiencyLevel}}</span></ion-label>
              </ion-item>
              <ion-item *ngIf="comp.mandatory">
                <ion-label>Zwingend</ion-label>
              </ion-item>
            </div>
          </collapsible-card>
        </ion-list>
      </div>
    </collapsible-card>

    <collapsible-card-toggleable (click)="loadShifts()" *ngIf="showShifts" [visible]="shiftsCardShown" (onToggle)="shiftsCardShown = !shiftsCardShown" class="shiftsCard">
      <div card-header>
        Schichten ({{task.childTasks.length}})
      </div>
      <div card-content>
        <ion-item *ngFor="let shift of task.childTasks">
          <h2>
            <ion-icon name="time" item-left></ion-icon>
            {{shift.startTime | date: 'dd.MM.yyyy H:mm'}} - {{shift.endTime | date: 'H:mm'}}
          </h2>
          <p>
            <collapsible-card>
              <div card-header>
                {{shift.signedUsers}} / {{shift.minAmountOfVolunteers}}
              </div>
              <div card-content>
                <ion-item text-wrap>Zusagen von:
                <ng-container *ngFor="let curUser of shift.userRelationships; let idx = index">
                  <span *ngIf="curUser.participationType != 'LEADING'">
                    {{curUser.name}}<span *ngIf="idx != shift.userRelationships.length - 1">,</span>
                  </span>
                </ng-container></ion-item>
                <div *ngIf="showShiftsMaterialsEnroll">
                  <button ion-button small color="secondary" (click)="addToShift(shift)"
                          *ngIf="!shift.assigned">Ich arbeite mit!
                  </button>
                  <button ion-button small color="danger" (click)="removeFromShift(shift)"
                          *ngIf="shift.assigned">Absagen
                  </button>
                </div>

              </div>
            </collapsible-card>

          </p>
        </ion-item>
      </div>
    </collapsible-card-toggleable>

    <collapsible-card *ngIf="task.materials.length > 0">
      <div card-header>
        Material ({{task.materials.length}})
      </div>
      <div card-content>
        <collapsible-card *ngFor="let material of task.materials" no-padding>
          <div card-header>
            {{material.name}}: {{material.subscribedQuantity}} / {{material.quantity}}
          </div>
          <div card-content>
            <table class="materials-brought" *ngIf="showShiftsMaterialsEnroll || material.subscribedQuantity > 0">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Menge</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subscriber of getSubscribers(material)">
                  <td>{{subscriber.userName}}</td>
                  <td col-auto>{{subscriber.quantity}}</td>
                </tr>
                <tr *ngIf="showShiftsMaterialsEnroll">
                  <td>
                    <button ion-button color="secondary" small (click)="subscribeToMaterial(material)">
                      Ich bringe
                    </button>
                  </td>
                  <td>
                    <input type="number" [(ngModel)] ="material.mySubscribedQuantity" min="0"
                    [max]="material.quantity - material.subscribedQuantityOtherUsers"
                    ng-class="{'has-error' : materialSubscribeError(material) }" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </collapsible-card>
      </div>
    </collapsible-card>
    <collapsible-card>
      <div card-header>
        Kommentare ({{task.comments.length}})
      </div>
      <div card-content>
        <ion-list class="comments">
          <ion-item *ngFor="let comment of task.comments">
            <ion-avatar item-left>
              <img src="../../assets/img/avatar-placeholder2.png">
            </ion-avatar>
            <h2>{{comment.name}}</h2>

            <p text-wrap>{{comment.content}}</p>
          </ion-item>


          <ion-item>
            <ion-label stacked>Kommentar hinzufügen</ion-label>
            <ion-textarea type="text" [(ngModel)]="newComment"></ion-textarea>
            <button ion-button color="secondary" clear item-right icon-only (click)="addNewComment()" style="align-self: flex-end;">
              <ion-icon name="send"></ion-icon>
            </button>
          </ion-item>

        </ion-list>
      </div>
    </collapsible-card>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="showPublish || showEnroll || showShifts || showCancel || showFollow || showUnfollow || (participationType == 'PARTICIPATING' || participationType == 'LEADING') && task.taskState == 'STARTED' || showEvaluate || showTriggerEval">
    <div class="toolbar-buttons">
      <button ion-button block color="light" (click)="publish()" *ngIf="showPublish">
        Veröffentlichen
      </button>
      <button ion-button block color="secondary" (click)="enroll()" *ngIf="showEnroll">
        Ich arbeite mit!
      </button>
      <button ion-button block color="secondary" (click)="openShifts()" *ngIf="showShifts">
        Schicht wählen
      </button>
      <button ion-button block color="danger" (click)="cancel()" *ngIf="showCancel">
        Absagen
      </button>
      <button ion-button block color="light" (click)="follow()" *ngIf="showFollow">
        Folgen
      </button>
      <button ion-button block color="danger" (click)="unfollow()" *ngIf="showUnfollow">
        Nicht mehr folgen
      </button>
      <button ion-button block color="light" (click)="evaluate()" *ngIf="showEvaluate">
        Aufgabe bewerten
      </button>
      <button ion-button block color="light" (click)="triggerEval()" *ngIf="showTriggerEval">
        Bewertunsgnachrichten senden
      </button>
      <ng-container *ngIf="task?.taskState == 'STARTED'">
        <ng-container *ngIf="participationType == 'PARTICIPATING'">
          <button ion-button block color="secondary" (click)="done()" *ngIf="!userIsDone">
            Ich bin fertig
          </button>
          <button ion-button block color="danger" (click)="notDone()" *ngIf="userIsDone">
            Ich bin nicht fertig
          </button>
        </ng-container>
        <button ion-button block color="secondary" (click)="complete()" *ngIf="participationType == 'LEADING'">
          Aufgabe ist fertig
        </button>
      </ng-container>

    </div>
  </ion-toolbar>
</ion-footer>
