page-task-detail {
  table {
    text-align: left;
    width: 100%;
  }

  table.materials-brought{
    tr:last-child:not(:first-child){
      border-top: 1px solid #dedede;
    }
  }
  ion-list.comments{
    & ion-item:last-child:not(:first-child){
      border-top: 1px solid #dedede;
    }
  }
  ion-list.team-list{
    &>ion-label:not(:first-child){
      border-top: 1px solid #dedede;
    }
  }

  .icon-role {
    background: rgba(255,255,255,0.7);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;

    &.icon-role-leader {
      left: 1.5em;
    }
  }

  .icon-light,
  .icon-ios-light,
  .icon-md-light {
    color: #D9D9D9;
  }

  .task-detail {
    &__header {

      &__headline {
        font-weight: bold;
        font-size: 1.4em;
      }

      &__img {
        max-height: 250px;
        width: auto;
        margin: 10px auto;
      }

      &__desc {

      }
    }

    &__content {
      &__headline {
        font-size: 1.1em;
        font-weight: bold;
        display: inline-block;
      }
    }
  }
}
