page-profile-edit {
  img {
    width: 10em;
  }
}

.cordova-camera-select {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  padding: 10px;
}

.cordova-camera-capture {
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  text-align: center;

  button {
    background-color: color($colors, primary);
    clear: both;
    color: #fff;
    display: block;
    float: none;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    height: 3.6rem;
    margin: 0 auto;
    padding: 0 1.1em;
    text-overflow: ellipsis;
    text-transform: uppercase;
    vertical-align: top;
    vertical-align: -webkit-baseline-middle;
    white-space: nowrap;
    width: 320px;
  }
}
