<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mein Profil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <!-- ion-col intentionally left out -->
      <ion-card style="max-width: 30em;">
        <img src="assets/img/avatar-placeholder1.png">
        <ion-card-content>
          <ion-card-title text-center>
            Mein Account
          </ion-card-title>
          <ion-grid>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
    <div class="container">
      <form id="meinProfil-form17" class="list">

        <div class="content-title assertive">Mein Account</div>
        <div class="row">
          <div class="col">
            <label class="item item-input" id="registrierung-input[?]">
              <input type="text" placeholder="Username" ng-readonly="editFlag" ng-model="user.name">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="item item-input" id="registrierung-input8">
              <input type="text" placeholder="Email-Adresse" ng-readonly="editFlag" ng-model="user.email">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="item item-input" id="registrierung-input[?]">
              <input type="text" placeholder="Password" ng-readonly="editFlag" ng-model="user.password">
            </label>
          </div>
        </div>
      </form>

      <form id="meinProfil-form18" class="list">
        <div class="content-title assertive">Über mich</div>

        <div class="row">
          <div class="col">
            <label class="item item-input" id="registrierung-input[?]">
              <input type="text" placeholder="Vorname" ng-readonly="editFlag">
            </label>
          </div>
          <div class="col">
            <label class="item item-input" id="registrierung-input[?]">
              <input type="text" placeholder="Nachname" ng-readonly="editFlag">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="item item-input" id="registrierung-input[?]">
              <input type="text" placeholder="PLZ" ng-readonly="editFlag">
            </label>
          </div>
          <div class="col">
            <label class="item item-input" id="registrierung-input[?]">
              <input type="text" placeholder="Ort" ng-readonly="editFlag">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="item item-input" id="registrierung-input9">
              <input type="text" placeholder="Handy" ng-readonly="editFlag" ng-model="user.phone">
            </label>
          </div>
          <div class="col">
            <label class="item item-input" id="registrierung-input[?]">
              <input type="text" placeholder="Telefonnummer" ng-readonly="editFlag">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="item item-input" id="registrierung-input24">
              <input type="text" placeholder="Geburtstag" ng-readonly="editFlag" ng-model="birthDate">
            </label>
          </div>
        </div>
      </form>
    </div>
</ion-content>
