<ion-view title="Meine Freunde">
  <ion-content padding="true" class="has-header">
    <ion-refresher on-refresh="reload()"></ion-refresher>
    <div class="item item-divider">Freunde</div>
    <ion-list>
      <ion-item ng-repeat="friend in friends | orderBy: 'name'">
        <div>
          {{ friend.name }}
        </div>
      </ion-item>
      <p ng-if="friends.length < 1">
        Du hast noch keine Freunde :(
      </p>
      <br>
    </ion-list>
    <div>
      <label class="item item-input item-select">
        <div class="input-label">
          Neue Freundschaftsanfrage:
        </div>
        <select ng-model="select.userToSendRequestTo">
          <option ng-repeat="user in allUsers | orderBy: 'name'" ng-value="user.id"> {{ user.name }} </option>
        </select>
      </label>
      <button type="button" ng-click="sendRequest()" class="button button-small button-positive ion-plus"> Versenden </button>
    </div>
  </ion-content>
</ion-view>
