<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/img/logo-text.png" style="height: 80%;">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="tasks?.length === 0">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <p>Keine vorgeschlagene Aufgaben gefunden.</p>
          <p>
            <button ion-button block (click)="navCtrl.push('competence-add')">
              Kompetenzen hinzufügen
            </button>
          </p>
        </ion-item>
        <ion-item>
          <p>Andere Aufgaben anschauen:</p>
          <p>
            <button ion-button block (click)="navCtrl.push('my-history')">
              Vergangene Aufgaben
            </button>
            <button ion-button block (click)="navCtrl.push('task-list')">
              Alle Aufgaben
            </button>
          </p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card task-list *ngIf="tasks?.length > 0">
    <ion-card-header>
      Vorgeschlagene Aufgaben
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <task-preview item-block *ngFor="let task of tasks" [task]="task.task" [action]="'follow'"></task-preview><!-- | orderBy: 'assessment'">-->
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
