<ion-header>

  <ion-navbar>
    <ion-title>{{task?.name || pageTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save_changes()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form name="taskForm" onsubmit="event.preventDefault" novalidate>
    <ion-card *ngIf="isNewTask">
      <ion-card-content>
        <ion-grid radio-group [(ngModel)]="task.taskType" name="type" class="form-group">
          <ion-row>
            <ion-col no-padding>
              <ion-item>
                <ion-label>Übersicht</ion-label>
                <ion-radio value="ORGANISATIONAL"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col no-padding>
              <ion-item>
                <ion-label>Aufgabe</ion-label>
                <ion-radio value="WORKABLE"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Basisinformationen
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label stacked>Titel*</ion-label>
            <ion-input type="text" [(ngModel)]="task.name" name="name" style="background-color:white;"
                       aria-describedby="inputError2Status" class="form-control" required></ion-input>
            <!-- @TODO reimplement validation
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                  *ngIf="taskForm.name.$dirty && taskForm.name.$invalid"></span>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                  *ngIf="taskForm.name.$dirty && taskForm.name.$valid"></span>
            <span id="inputError2Status" class="help-block"><!-- *ngIf="taskForm.name.$dirty && taskForm.name.$invalid">
              Bitte geben Sie einen Tasktitel ein.
            </span>
            -->
          </ion-item>
          <ion-item class="item item-input item-stacked-label">
            <ion-label stacked>Beschreibung</ion-label>
            <ion-textarea [(ngModel)]="task.description" name="description" ></ion-textarea>
          </ion-item>
          <ion-item class="item item-input item-stacked-label" *ngIf="task.taskType == 'WORKABLE'">
            <ion-label stacked>Zahl der Freiwilligen</ion-label>
            <ion-input type="number" min="0"
                       [(ngModel)]="task.minAmountOfVolunteers" name="minAmountOfVolunteers"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Zeit und Ort
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label stacked>Beginn*</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="task.startTime" name="startTime"
                       [ngClass]="{'has-error' : !task.startTime}"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label stacked>Ende</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="task.endTime" name="endTime"></ion-datetime>
          </ion-item>
          <ion-item>
            <button ion-button icon-only (click)="openMap()" item-right>
              <ion-icon name="locate"></ion-icon>
            </button>
            <ion-label stacked>Adresse
            </ion-label>
            <ion-input type="text" [(ngModel)]="task.address" name="address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Ortsbezeichnung</ion-label>
            <ion-input type="text" [(ngModel)]="task.location" name="location"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ng-template [ngIf]="task.taskType == 'WORKABLE'">
      <collapsible-card>
        <span card-header>
          Kompetenzen <span float-right>{{competences.all.length}}</span>
        </span>
        <div card-content>
          <ion-list *ngIf="competences.all.length > 0">
            <ion-item *ngFor="let competence of competences.all">
              <span (click)="competence.editing = !competence.editing">{{competence.name}}</span>
              <ion-list *ngIf="competence.editing">
                <ion-item>
                  <ion-label stacked>Können<span float-right>{{competence.neededProficiencyLevel}}</span></ion-label>
                  <ion-range min="0" max="100" [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="competence.neededProficiencyLevel" (ionChange)="updateCompetence(competence)">
                  </ion-range>
                </ion-item>

                <ion-item>
                  <ion-label>Zwingend</ion-label>
                  <ion-toggle [(ngModel)]="competence.mandatory" [ngModelOptions]="{standalone: true}">
                  </ion-toggle>
                </ion-item>

                <ion-item>
                  <button ion-button (click)="removeCompetence(competence)" block color="danger">
                    <ion-icon name="trash-outline"></ion-icon> Löschen
                  </button>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-list>

          <ion-item *ngIf="!addNewCompetence">
            <button ion-button block (click)="openNewCompetenceForm()">
              <ion-icon name="add"></ion-icon> Kompetenz hinzufügen
            </button>
          </ion-item>

          <ion-list *ngIf="addNewCompetence">
            <ion-item>
              <ion-label stacked>Kompetenzbereich*</ion-label>
              <ion-select [(ngModel)]="competenceArea" name="competenceArea" (ionChange)="getCompetencesForArea(competenceArea)">
                <ion-option *ngFor="let area of competenceAreaList" value="{{area.id}}">
                  {{area.name}}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label *ngIf="competenceArea != -1" stacked>Kompetenz*</ion-label>
              <ion-select [(ngModel)]="competences.newObj.id" name="competence">
                <ion-option *ngFor="let competence of availableCompetences" value="{{competence.id}}">
                  {{ competence.name }}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label stacked>Können* <span float-right>{{competences.newObj.neededProficiencyLevel}}</span></ion-label>
              <ion-range min="0" max="100" name="neededProficiencyLevel"
                     [(ngModel)]="competences.newObj.neededProficiencyLevel">
              </ion-range>
            </ion-item>
            <ion-item>
              <ion-label>Zwingend</ion-label>
              <ion-toggle name="mandatory" [(ngModel)]="competences.newObj.mandatory">
              </ion-toggle>
            </ion-item>
                    <!--<span>-->
                    <!--<i class="ion-information-circled"></i>-->
                    <!--<span>-->
                    <!--Die Kategorie &bdquo;Wichtigkeit&ldquo; bezieht sich auf die Aufgabe, wie wichtig diese für mich ist-->
                    <!--bzw. für das Gelingen des Projekts.-->
                    <!--</span>-->
                    <!--</span>-->

            <ion-item>
            <label>*Pflichtfelder</label>
            <button ion-button  (click)="addCompetence()" block>
              <ion-icon name="add"></ion-icon> Hinzufügen
            </button>
            </ion-item>
          </ion-list>
        </div>
      </collapsible-card>
      <collapsible-card>
        <span card-header>
          Schichten <span float-right>{{shifts.all.length}}</span>
        </span>
        <div card-content>
          <ion-list>
            <ion-item *ngFor="let shift of shifts.all">
              {{shift.startTime | date: "dd.MM.yyyy HH:mm"}} -
              {{shift.endTime | date: "dd.MM.yyyy HH:mm"}}
              ({{shift.minAmountOfVolunteers}})
              <ion-icon name="trash" (click)="removeShift(shift)" float-right></ion-icon>
            </ion-item>
          </ion-list>

          <ion-item *ngIf="!addNewShift">
            <button ion-button block (click)="openNewShiftForm()">
              <ion-icon name="add"></ion-icon> Schicht hinzufügen
            </button>
          </ion-item>

          <ion-list *ngIf="addNewShift">
            <ion-item>
              <ion-label stacked>Beginn*</ion-label>
              <ion-datetime name="shiftStartTime" displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="shifts.newObj.startTime"
                         [ngClass]="{'has-error' : !shifts.newObj.startTime}" >
              </ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label stacked>Ende*</ion-label>
              <ion-datetime name="shiftEndTime" displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="shifts.newObj.endTime"
                         [ngClass]="{'has-error' : !shifts.newObj.endTime}">
              </ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label stacked>Anzahl Freiwilliger*</ion-label>
              <ion-input type="number" name="shiftVolunteers" [(ngModel)]="shifts.newObj.minAmountOfVolunteers"
                         [ngClass]="{'has-error' : !shifts.newObj.minAmountOfVolunteers}">
              </ion-input>
            </ion-item>
            <ion-item>
              <label>*Pflichtfelder</label>

              <button ion-button (click)="addShift()" block>
                <ion-icon name="add"></ion-icon> Hinzufügen
              </button>
            </ion-item>
          </ion-list>
        </div>
      </collapsible-card>
      <collapsible-card>
        <span card-header>
          Materialien <span float-right>{{materials.all.length}}</span>
        </span>
        <div card-content>
          <ion-list *ngIf="materials.all.length > 0">
            <ion-item>
              <ion-grid no-padding>
                <ion-row class="row row-header">
                  <ion-col col-4 class="material-header-name">Name</ion-col>
                  <ion-col col-2 class="material-header-amount">Menge</ion-col>
                  <ion-col col-5 class="material-header-description">Beschreibung</ion-col>
                </ion-row>
                <ion-row class="row row-content" *ngFor="let material of materials.all" padding-top>
                  <ion-col col-4 class="material-content-name">{{material.name}}</ion-col>
                  <ion-col col-2>{{material.quantity}}</ion-col>
                  <ion-col col-5>{{material.description}}</ion-col>
                  <ion-col col-1>
                    <ion-icon (click)="removeMaterial(material)" name="trash" float-right></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>

          <ion-item *ngIf="!addNewMaterial">
            <button ion-button block (click)="addNewMaterial = !addNewMaterial">
              <ion-icon name="add"></ion-icon> Material hinzufügen
            </button>
          </ion-item>

          <ion-list *ngIf="addNewMaterial">
            <ion-item>
              <ion-label stacked>Name*</ion-label>
              <ion-input type="text" [(ngModel)]="materials.newObj.name" name="materialName"
                         required [ngClass]="{'has-error' : !materials.newObj.name}">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Menge*</ion-label>
              <ion-input type="number" [(ngModel)]="materials.newObj.quantity" name="materialQuantity"
                         [ngClass]="{'has-error' : !materials.newObj.quantity}">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Beschreibung</ion-label>
              <ion-textarea [(ngModel)]="materials.newObj.description" name="materialDescription"></ion-textarea>
            </ion-item>
            <ion-item>
              <label>*Pflichtfelder</label>
              <button ion-button (click)="addMaterial()" block>
                <ion-icon name="add"></ion-icon> Hinzufügen
              </button>
            </ion-item>
          </ion-list>
        </div>
      </collapsible-card>
    </ng-template>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="showDelete">
          <button ion-button (click)="delete()" color="danger" block> Löschen </button>
        </ion-col>
        <ion-col *ngIf="showUnpublish">
          <button ion-button (click)="unpublish()" color="light" block> Zurückziehen </button>
        </ion-col>
        <ion-col *ngIf="showPublish">
          <button ion-button (click)="publish()" color="secondary" block> Veröffentlichen </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
