<!--
  Generated template for the TaskEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form name="taskForm" onsubmit="event.preventDefault" novalidate>
    <div radio-group [(ngModel)]="task.taskType" name="type" *ngIf="isNewTask" class="form-group">
      <div class="half-container">
        <ion-label>Übersicht</ion-label>
        <ion-radio value="ORGANISATIONAL"></ion-radio>
      </div>
      <div class="half-container">
        <ion-label>Aufgabe</ion-label>
        <ion-radio value="WORKABLE"></ion-radio>
      </div>
    </div>
  </form>
</ion-content>

<!--
        <div class="item item-divider-top">Basisinformationen</div>
        <div class="form-block form-group" ng-class="{'has-error has-feedback': taskForm.name.$dirty && taskForm.name.$invalid, 'has-success has-feedback':taskForm.name.$dirty && taskForm.name.$valid}">
          <label class="item item-input item-stacked-label">
            <span class="input-label bold">Titel*:</span>
            <input type="text" ng-model="task.name" name="name" style="background-color:white;" placeholder="Name..."
            aria-describedby="inputError2Status" class="form-control" required>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="taskForm.name.$dirty && taskForm.name.$invalid"></span>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="taskForm.name.$dirty && taskForm.name.$valid"></span>
            <span id="inputError2Status" ng-show="taskForm.name.$dirty && taskForm.name.$invalid" class="help-block">
              Bitte geben Sie einen Tasktitel ein.
            </span>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label bold">Beschreibung:</span>
            <textarea ng-model="task.description" placeholder="Beschreibung..." ></textarea>
          </label>
          <label class="item item-input item-stacked-label" ng-if="task.taskType == 'WORKABLE'">
            <span class="input-label bold">Zahl der Freiwilligen:</span>
            <input type="number" min="0" ng-model="task.minAmountOfVolunteers" placeholder="Anzahl...">
          </label>
        </div>
        <div class="form-block form-group">
          <div class="item item-divider-top">Zeit und Ort</div>

          <label class="item item-input item-stacked-label">
            <span class="input-label bold">Beginn*:</span>
            <input type="datetime-local" ng-model="task.startTime"  ng-class="{'has-error' : !task.startTime}" >
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label bold">Ende:</span>
            <input type="datetime-local" ng-model="task.endTime" >
          </label>

          <div class="item item-input item-stacked-label">
            <span class="input-label bold">Adresse:</span>
            <input type="text" ng-model="task.address" placeholder="Adresse"  >
            <a type="button" ng-click="openMap()" class="button button-icon icon ion-android-locate" style="position: absolute;top: 10px;right: 12px;z-index:100;"></a>
          </div>
          <label class="item item-input item-stacked-label">
            <span class="input-label bold">Ortsbezeichnung:</span>
            <input type="text" ng-model="task.location" placeholder="Ortsbezeichnung"  >
          </label>
        </div>
      </form>
    </div>

    <div ng-if="isNewTask && task.taskType == 'WORKABLE'">

      <button type="button" ng-click="add_details()" class="button button-full button-positive ion-plus no-border-radius"> Details hinzufügen</button>

    </div>

    <div ng-if="!isNewTask && task.taskType == 'WORKABLE'">
      <c-accordion title="' Details '">
        <ion-list >
          <ion-item class="item-icon-right" ng-click="advancedEdit('competences')">
            Kompetenzen ({{task.taskCompetences.length}})
            <i class="icon ion-chevron-right"></i>
          </ion-item>
          <ion-item class="item-icon-right" ng-click="advancedEdit('shifts')">
            Schichten ({{task.childTasks.length}})
            <i class="icon ion-chevron-right"></i>
          </ion-item>
          <ion-item class="item-icon-right" ng-click="advancedEdit('materials')">
            Materialen ({{task.materials.length}})
            <i class="icon ion-chevron-right"></i>
          </ion-item>
        </ion-list>
      </c-accordion>
    </div>



  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <button ng-click="delete()" ng-if="showDelete"  class="button button-small button-full no-border-radius button-assertive ion-trash-a"> Löschen </button>
      <button ng-click="save_and_unpublish()"   ng-if="showUnpublish" class="button button-small button-full no-border-radius button-positive ion-eye-disabled"> Zurückziehen </button>
      <button ng-click="save_and_publish()"   ng-if="showPublish" class="button button-small button-full no-border-radius button-balanced ion-eye"> Veröffentlichen </button>
    </div>
  </ion-footer-bar>
</ion-view>
-->
