<ion-header>
  <ion-navbar>
    <ion-title>Meine Freunde</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Freunde
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let friend of friends" (click)="viewProfile(friend.id)">
          {{ friend.name }}</ion-item>
        <ion-item *ngIf="friends.length < 1">
          Du hast noch keine Freunde.
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Neue Freundschaftsanfrage
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let u of allUsers">
          <ion-checkbox [(ngModel)]="u.checked"></ion-checkbox>
          <ion-label>{{u.firstName || ""}} {{u.lastName || ""}}</ion-label>
          <button ion-button item-end clear icon-only (click)="viewProfile(u.id)">
            <ion-icon name="person" color="dark"></ion-icon>
          </button>
          </ion-item>
        <ion-item>
          <button ion-button block icon-left
                  (click)="sendRequests()" [disabled]="allUsers.filter(getSelected).length < 1">
            <ion-icon name="add"></ion-icon>
            Versenden
          </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
