<ion-header>
  <ion-navbar>
    <ion-title>Meine Freunde</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Freunde
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let friend of friends">
          {{ friend.name }}</ion-item>
        <ion-item *ngIf="friends.length < 1">
          Du hast noch keine Freunde.
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Neue Freundschaftsanfrage
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label stacked>User</ion-label>
          <ion-select [(ngModel)]="userToSendRequestTo" name="userToSendRequestTo">
            <ion-option *ngFor="let user of allUsers" value="{{user.id}}"> {{ user.name }} </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <button ion-button (click)="sendRequest()" block>
            <ion-icon name="add"></ion-icon>
            Versenden
          </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
