<ion-header>
  <ion-navbar>
    <ion-title>Meine Freunde</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <collapsible-card [shown]="true">
    <div card-header>
      Freunde
    </div>
    <div card-content>
      <ion-list>
        <button ion-item class="item-ios" *ngFor="let friend of friends" (click)="viewProfile(friend.id)">
          <ion-avatar item-start>
            <img src="assets/img/avatar-placeholder1.png">
          </ion-avatar>
          {{ friend.firstName }} {{ friend.lastName }}
        </button>
        <ion-item *ngIf="friends.length < 1">
          Du hast noch keine Freunde.
        </ion-item>
      </ion-list>
    </div>
  </collapsible-card>

  <collapsible-card>
    <div card-header>
      Neue Freundschaftsanfrage
    </div>
    <div card-content>
      <ion-list>
        <ion-item>
          <ion-searchbar (ionInput)="filterUsers($event)"></ion-searchbar>
        </ion-item>
        <ion-item *ngFor="let u of userList" (click)="viewProfile(u.id)">
          <ion-avatar item-start>
            <img src="assets/img/avatar-placeholder1.png">
          </ion-avatar>
            {{u.firstName}} {{u.lastName}}
          <button ion-button item-end clear icon-only (click)="$event.stopPropagation(); befriend(u)" [disabled]="!getAvailable(u.id)">
            <ion-icon name="send" [color]="getAvailable(u.id) ? 'secondary' : 'dark'"></ion-icon>
          </button>
        </ion-item>
        <ion-item *ngIf="userList.length == 0">
          Keine User gefunden.
        </ion-item>
      </ion-list>
    </div>
  </collapsible-card>
</ion-content>
