// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  //primary:    #387ef5,
  primary:    #1C7DC9,
  //secondary:  #32db64,
  secondary:  #26a94d,
  //danger:     #f53d3d,
  danger:     #dd3838,
  //light:      #f4f4f4,
  light:      #EDEDED,
  dark:       #222
);

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// variables defined by me
$content-background: #BBD8EF;
$card-header-border-color: #ddd;
$global-card-margin: 10px;
$global-card-padding: 10px;


// overriding ionic default vars:
$toolbar-background: color($colors, primary);
$tabs-background: color($colors, primary);
$tabs-tab-color-active: rgba(255,255,255,1);
$tabs-tab-color-inactive: rgba(255,255,255,0.7);
$refresher-border-color: none;
$tabs-md-tab-color-inactive: $tabs-tab-color-inactive;
$card-ios-border-radius: 5px;
$card-md-border-radius: 5px;
$card-wp-border-radius: 5px;
$card-md-margin-left: $global-card-margin; $card-md-margin-right: $global-card-margin; $card-md-margin-start: $global-card-margin; $card-md-margin-end: $global-card-margin; $card-md-margin-top: $global-card-margin; $card-md-margin-bottom: $global-card-margin;
$card-ios-margin-left: $global-card-margin; $card-ios-margin-right: $global-card-margin; $card-ios-margin-start: $global-card-margin; $card-ios-margin-end: $global-card-margin; $card-ios-margin-top: $global-card-margin; $card-ios-margin-bottom: $global-card-margin;
$card-wp-margin-left: $global-card-margin; $card-wp-margin-right: $global-card-margin; $card-wp-margin-start: $global-card-margin; $card-wp-margin-end: $global-card-margin; $card-wp-margin-top: $global-card-margin; $card-wp-margin-bottom: $global-card-margin;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
