<ion-view cache-view="false" title="Aufgabe" hide-nav-bar="false">
  <ion-nav-buttons side="right" class="has-header">
    <button ng-click="edit()" ng-show="editableFlag" class="button icon ion-edit"></button>
    <button ng-click="makeNewSubTask()" ng-if="addSubTaskFlag" class="button icon ion-android-add-circle scale"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding has-footer">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="taskMainInfo" ng-cloak>

      <h2>{{task.name}}</h2>
      <p>{{task.description}}</p>
      <hr>
      <div class="row">
        <div style="margin: 0.5em; width: 5em; height: 5em;">
          <img class="img-responsive" src="img/VYlmQQCufa0Dowy1ZgZb_rkessen.jpg">
        </div>
        <div style="margin: 0.5em; width: 5em; height: 5em;">
          <img class="img-responsive" src="img/7HOqUb6jTTeJeafRKenN_wand.jpg">
        </div>
      </div>

      <c-accordion title="'Zeit und Ort'" shown="true">
        <div class="row">
          <div class="col-35">
            <div class="row"><span class="ion-calendar"> Zeit: </span></div>
          </div>
          <div class="col" ng-if="timeChoice == 'slot'">
            <div class="row"> Von: {{ task.startTime | date : "short" }} </div>
            <div class="row"> Bis: {{ task.endTime | date : "short" }} </div>
          </div>
          <div class="col" ng-if="timeChoice == 'point'">
            <div class="row"> {{ task.endTime | date : "short" }} </div>
          </div>
        </div>
        <div class="row" ng-if="checkLocation(task.address)">
          <div class="col-35">
            <div class="row"><span class="ion-location"> Adresse: </span></div>
          </div>
          <div class="col">
            <div class="row"> {{task.address}} </div>
            <div ng-click="openMapView()"><span class="ion-android-open"></span> Auf Karte anzeigen</div>
          </div>
        </div>
        <div class="row" ng-if="checkLocation(task.location)">
          <div class="col-35">
            <div class="row"><span class="ion-home"> Bezeichnung: </span></div>
          </div>
          <div class="col">
            <div class="row"> {{task.location}} </div>
          </div>
        </div>
        <div class="row">
          <div class="col-35">
            <div class="row"><span class="ion-information-circled"> Status: </span></div>
          </div>
          <div class="col">
            <div class="row status-icons">
              <!-- only show non-published status for task owner -->
              <i ng-if="participationType == 'LEADING'"
                class="icon ion-compose icon-step1"
                ng-class="{ current : (task.taskState == 'NOT_PUBLISHED') }"></i>
              <span ng-if="participationType == 'LEADING'" class="icon-connector"></span>
              <i class="icon ion-eye icon-step3"  ng-class="{ current: task.taskState == 'PUBLISHED' }"></i>
              <span class="icon-connector"></span>
              <i class="icon ion-load-a icon-step4"      ng-class="{ current: task.taskState == 'STARTED' }"></i>
              <span class="icon-connector"></span>
              <i class="icon ion-checkmark icon-step5" ng-class="{ current: task.taskState == 'COMPLETED' }"></i>
            </div>
            <div class="status-actions" ng-if="task.taskState == 'STARTED'">
              <button ng-if="participationType == 'LEADING' && allAreDone" ng-click="complete()" class="button button-small button-outline button-balanced ion-checkmark">Aufgabe ist fertig</button>
              <button ng-if="participationType == 'LEADING' && !allAreDone" ng-click="forceComplete()" class="button button-small button-outline button-balanced ion-checkmark">Aufgabe abschließen</button>
              <span ng-if="participationType == 'PARTICIPATING' && userIsDone">Ich bin fertig <button ng-click="notDone()" class="button button-small button-outline button-assertive ion-close">Lösen</button></span>
              <button ng-if="participationType == 'PARTICIPATING' && !userIsDone" ng-click="done()" class="button button-small button-outline button-balanced ion-checkmark">Ich bin fertig</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-35">
            <div class="row"><span class="ion-location"> Teilnehmer: </span></div>
          </div>
          <div class="col">
            <div class="row">
              {{task.signedUsers}}
              <span ng-if="task.minAmountOfVolunteers">/{{task.minAmountOfVolunteers}}</span>
            </div>
          </div>
        </div>

      </c-accordion>

      <c-accordion title="'Team'" ng-show="task.userRelationships.length > 0" shown="true">
        <div class="row">
          <div ng-repeat="member in task.userRelationships" style="margin: 0.5em;">
            <img class="img-responsive" src="img/1lZ3VOkiRqOOdIDOu9mn_avatar.png" style="margin: 0 auto; width: 4em; height: 4em;">
            <caption>
              <i ng-show="member.participationType == 'LEADING'" class="icon ion-ios-star"></i>
              <i ng-show="member.friend" class="icon ion-android-contacts"></i>
              {{member.name}}
            </caption>
          </div>
        </div>
      </c-accordion>


      <c-accordion title="'Notwendige Kompetenzen ('+ neededCompetences.length + ')'" ng-show="neededCompetences.length > 0">
        <div>
          Anmerkung (Temporär, bitte Feedback) <br>
          Grün -> Rot ===  Unwichtig -> Wichtig <br>
          Hell -> Dunkel === Leicht -> Schwer
        </div>
        <div class="tags">
          <div class="tag" ng-repeat="competence in neededCompetences | orderBy: 'name'"
            ng-style="getCompetenceColors(competence)">
            {{ competence.name }}
          </div>
        </div>
        <br>
      </c-accordion>

      <c-accordion title="'Schichten (' + task.childTasks.length + ')'"
                   ng-if="task.childTasks.length > 0 && task.taskType == 'WORKABLE'"
                   ng-click="loadShifts()">
        <ion-list>
          <div  ng-cloak>
            <ion-item>
              <ion-item ng-repeat="shift in task.childTasks">
                <custom-accordion>
                  <custom-accordion-head>
                    <span>
                      <i class="icon ion-clock"></i>
                      {{shift.startTime | date: "dd.MM HH:mm"}} &ndash;
                      <span ng-if="shift.startTime.getDate() == shift.endTime.getDate()">
                        {{shift.endTime | date: "HH:mm"}}
                      </span>
                      <span ng-if="shift.startTime.getDate() != shift.endTime.getDate()">
                        {{shift.endTime | date: "dd.MM HH:mm"}}
                      </span>
                    </span>
                        <span>
                      <i class="icon ion-person padding-left"></i>
                      {{shift.signedUsers}} / {{shift.minAmountOfVolunteers}}
                    </span>
                  </custom-accordion-head>
                  <custom-accordion-body> <!-- ng-if="showShiftsMaterialsEnroll" -->
                    Zusagen:
                    <span ng-repeat="user in shift.userRelationships">
                      {{user.name}}<span ng-if="$index != shift.userRelationships.length - 1">,</span>
                    </span>
                    <span ng-if="true">
                      <button ng-click="addToShift(shift)"
                              class="button button-small button-outline button-balanced ion-checkmark" ng-if="!shift.assigned">Ich arbeite mit!</button>
                      <button ng-click="removeFromShift(shift)"
                              class="button button-small button-outline button-assertive ion-close" ng-if="shift.assigned">Absagen</button>
                    </span>
                  </custom-accordion-body>
                </custom-accordion>

              </ion-item>
            </ion-item>
          </div>
        </ion-list>
        <br>
      </c-accordion>

      <c-accordion title="'Notwendiges Material (' + task.materials.length + ')'" ng-show="task.materials.length > 0">
        <ion-list>
          <div  ng-cloak>
            <ion-item ng-repeat="material in task.materials | orderBy: ['name']">
              <custom-accordion>
                <custom-accordion-head>
                  <div>
                    <span>{{ material.name }}</span>
                    <span class="padding-left">{{material.subscribedQuantityOtherUsers + material.myQuantity}} / {{ material.quantity }}</span>
                  </div>
                </custom-accordion-head>
                <custom-accordion-body ng-if="showShiftsMaterialsEnroll">
                  <div>
                    {{ material.description }}
                  </div>
                  <div class="list" ng-if="showShiftsMaterialsEnroll">
                    <label class="item item-input item-stacked-label">
                      <span class="input-label new-shift-label">Ich bringe:</span>
                      <input type="number" placeholder="Anzahl..." ng-model="material.myQuantity"
                             min="0"
                             max="{{ material.quantity - material.subscribedQuantityOtherUsers }}"
                             ng-class="{'has-error' : materialSubscribeError(material) }" />
                    </label>
                    <button ng-click="subscribe(material)" class="button button-small button-outline button-balanced ion-checkmark float-right">
                      Speichern
                    </button>
                  </div>
                </custom-accordion-body>
              </custom-accordion>
            </ion-item>

          </div>
        </ion-list>
        <br>
      </c-accordion>

      <c-accordion title="'Übergeordnete Aufgabe'" ng-if="task.superTask">
        <task-preview task="task.superTask" ng-click="loadSingleTask(task.superTask.id)"></task-preview>
        <br>
      </c-accordion>

      <c-accordion title="'Unteraufgaben (' + task.childTasks.length + ')'" ng-show="task.childTasks.length > 0 && task.taskType == 'ORGANISATIONAL'">
        <ion-list>
          <div ng-repeat="subTask in task.childTasks | orderBy: ['startTime', 'name']" ng-cloak>
            <task-preview task="subTask" ng-click="loadSingleTask(subTask.id)"></task-preview>
          </div>
        </ion-list>
        <br>
        <button ng-click="makeNewSubTask()" ng-if="addSubTaskFlag" class="button button-full button-small button-balanced ion-android-add-circle item-divider"> Unteraufgaben hinzufügen</button>
        <br>
      </c-accordion>


      <c-accordion title="'Kommentare (' + task.comments.length + ')'">
        <ion-list can-swipe="true" ng-show="task.comments.length > 0">
          <div ng-repeat="comment in task.comments | orderBy: [ 'id' ]" ng-cloak>
            <div ng-class="checkCommentOwner(comment.name) ? 'comment-bubble mine' : 'comment-bubble'">
              <div class="mouth"></div>

              <div class="name">{{comment.name}}</div>
              <div class="delete" ng-if="checkCommentOwner(comment.name)" >
                <i class="ion-close-circled" ng-click="removeComment(comment)"></i>
              </div>
              <span class="clear"></span>
              <div class="content"> {{ comment.content }}</div>
              <!--<ion-option-button class="button-assertive" ng-click="removeComment(comment.id)">Löschen</ion-option-button>-->

            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </ion-list>

        <form ng-submit="addNewComment()">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Kommentar Hinzufügen:</span>
            <input type="text" ng-model="newComment.content" style="background-color:white;" />
          </label>
        </form>
        <br>
      </c-accordion>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer">
    <div class="button-bar" ng-cloak>
      <button ng-click="publish()" ng-if="showPublish" ng-class="{'button-balanced': task.readyToPublish, 'button-stable, button-outline': !task.readyToPublish}" class="button button-full button-small no-border-radius ion-eye"> Veröffentlichen </button>
      <button ng-click="enroll()" ng-if="showEnroll" class="button button-full button-small no-border-radius button-balanced ion-checkmark"> Ich arbeite mit! </button>
      <button ng-click="cancel()" ng-if="showCancel"  class="button button-full button-small no-border-radius button-assertive ion-close"> Absagen </button>
      <button ng-click="follow()" ng-if="showFollow"  class="button button-full button-small no-border-radius button-positive ion-eye"> Folgen </button>
      <button ng-click="cancel()" ng-if="showUnfollow" class="button button-full button-small no-border-radius button-assertive ion-eye-disabled"> Nicht mehr folgen </button>
    </div>
  </ion-footer-bar>
</ion-view>
