// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.app-root{
  background-color: $content-background;
}

.rootWrapper{
  position: relative;
  max-width: 100rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.content{
  background-color: $content-background;
}
.card-header{
  border: none;
  background-color: color($colors, primary);
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1px;
}
.card-header-ios{ border-radius: $card-ios-border-radius $card-ios-border-radius 0 0; }
.card-header-md{ border-radius: $card-md-border-radius $card-md-border-radius 0 0; }
.card-header-wp{ border-radius: $card-wp-border-radius $card-wp-border-radius 0 0; }
.card-header + .card-content, .card .item + .card-content {
  padding-top: 0;
}
.card-content {
  /*padding: 6px 8px 6px 8px;*/
  padding: $global-card-padding;
}
.card-header{
  padding-left: $global-card-padding;
  padding-right: $global-card-padding;
}
.item{
  padding-left: 0px;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
  border-bottom: 0;
}
.list-ios > .item-block:first-child{
  border-top: 0;
}
.toolbar ion-title.full{
  padding: 0 12px;
}
.card p {
  color: color($colors, dark);
}

ion-header{
  background-color: color($colors, primary);
  > .toolbar:not(:last-child){
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 5px;
  }
  .toolbar-title-ios{
    text-align: left;
  }
  .toolbar-ios ion-title {
    position: relative;
    // @TODO: use android styles here
    padding: 0;
  }
}
.toolbar:not(ion-navbar) {
  padding: 0;
}

ion-toolbar {
  &.clear .toolbar-background {
    background-color: transparent;
    border-color: transparent;
  }
  div.toolbar-buttons{
    padding: 0 $global-card-margin;
    display: flex;
    > button:not(:first-child){
      margin-left: $global-card-margin / 2;
    }
    > button:not(:last-child){
      margin-right: $global-card-margin / 2;
    }
  }
}

ion-card[task-list]{
  ion-card-content{
    padding: 0;
  }
  .list{
    background-color: color($colors, light);
  }
}

button:not([icon-only]) {
  ion-icon {
    margin: 0 5px;
  }
}


