// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content{
  background-color: $content-background;
}
.card-header{
  /*background-color: $card-header-background;*/
  /*border: 2px solid $card-header-border-color;*/
  border: none;
  background-color: $toolbar-background;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1px;
}
.card-header-ios{ border-radius: $card-ios-border-radius $card-ios-border-radius 0 0; }
.card-header-md{ border-radius: $card-md-border-radius $card-md-border-radius 0 0; }
.card-header-wp{ border-radius: $card-wp-border-radius $card-wp-border-radius 0 0; }
.card-header + .card-content, .card .item + .card-content {
  padding-top: 0;
}
.card-content {
  padding: 6px 8px 6px 8px;
}
.card-header{
  padding-left: 10px;
}
.item{
  padding-left: 2px;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
  border-bottom: 0;
}
.list-ios > .item-block:first-child{
  border-top: 0;
}
ion-header{
  background-color: $toolbar-background;
  ion-navbar{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 5px;
  }
}

ion-card[task-list]{
  ion-card-content{
    padding: 0;
  }
  .list{
    background-color: $card-header-background;
  }
}
