<ion-header>
  <ion-navbar>
    <ion-buttons end *ngIf="userHasPermissions">
      <button ion-button icon-only (click)="makeNewTask()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Meine offenen Aufgaben</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="allTasks?.participating?.length === 0 && allTasks?.following?.length === 0 && allTasks?.leading?.length === 0">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <p>Keine offene Aufgaben gefunden.</p>
        </ion-item>
        <button ion-item class="item-ios" (click)="makeNewTask()" *ngIf="userHasPermissions">
          Neue Aufgabe erstellen
        </button>
        <button ion-item class="item-ios" block (click)="navCtrl.push('my-history')">
          Vergangene Aufgaben anschauen
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card task-list *ngIf="allTasks?.leading?.length > 0">
    <ion-card-header>
      Von mir organisierte Aufgaben
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="filters.leading" (ionChange)="filterLeadingTasks($event)">
        <ion-segment-button value="started">
          Gestartet
        </ion-segment-button>
        <ion-segment-button value="published">
          Anstehend
        </ion-segment-button>
        <!--
        <ion-segment-button value="closed">
          Beendet
        </ion-segment-button>
        -->
        <ion-segment-button value="unpublished">
          Geplant
        </ion-segment-button>
      </ion-segment>
      <ion-list>
        <task-preview item-block *ngFor="let task of leadingTasks" [task]="task"></task-preview>
        <ion-item *ngIf="leadingTasks.length < 1">
          <p>Keine offenen Aufgaben gefunden.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card task-list *ngIf="allTasks?.participating?.length > 0">
    <ion-card-header>
      Von mir übernommene Aufgaben
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="filters.participating" (ionChange)="filterParticipatingTasks($event)">
        <ion-segment-button value="started">
          Gestartet
        </ion-segment-button>
        <ion-segment-button value="published">
          Anstehend
        </ion-segment-button>
      </ion-segment>
      <ion-list>
        <task-preview item-block *ngFor="let task of participatingTasks" [task]="task"></task-preview>
        <ion-item *ngIf="participatingTasks.length < 1">
          <p>Keine offenen Aufgaben gefunden.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card task-list *ngIf="allTasks?.following?.length > 0">
    <ion-card-header>
       Beobachtete Aufgaben
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="filters.following" (ionChange)="filterFollowingTasks($event)">
        <ion-segment-button value="started">
          Gestartet
        </ion-segment-button>
        <ion-segment-button value="published">
          Anstehend
        </ion-segment-button>
      </ion-segment>
      <ion-list>
        <task-preview item-block *ngFor="let task of followingTasks" [task]="task" [action]="'unfollow'"></task-preview>
        <ion-item *ngIf="followingTasks.length < 1">
          <p>Keine offenen Aufgaben gefunden.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
