<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meine Aufgaben</ion-title>
  </ion-navbar>
</ion-header>
<!--
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-energized2 icon ion-android-add-circle scale" ng-click="makeNewTask()"></button>
  </ion-nav-buttons>
  -->
<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-card task-list>
    <ion-card-header>
      Teilgenommene Aufgaben
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <task-preview item-block *ngFor="let task of participatingTasks" [task]="task"></task-preview><!-- | orderBy: 'assessment'">-->
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card task-list>
    <ion-card-header>
       Beobachtete Aufgaben
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <task-preview item-block *ngFor="let task of followingTasks" [task]="task" [action]="'unfollow'"></task-preview><!-- | orderBy: 'assessment'">-->
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card task-list>
    <ion-card-header>
      Von mir angeführte Aufgaben
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <task-preview item-block *ngFor="let task of leadingTasks" [task]="task"></task-preview><!-- | orderBy: 'assessment'">-->
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
