page-my-tasks {
  ion-segment,
  .segment-ios {
    .segment-button:first-of-type,
    .segment-button:last-of-type {
      border-radius: 0;
    }
    .segment-button {
      border-color: #69717d;
      color: #69717d;
    }
    .segment-button.segment-activated {
      background-color: #69717d;
    }
  }
}
