page-my-tasks {
  ion-segment,
  .segment-ios,
  .segment-md{
    border-top: 4px solid color($colors, light);
    margin-bottom: 1px;
    .segment-button:first-of-type,
    .segment-button:last-of-type {
      border-radius: 0;
    }
    .segment-button {
      border-color: color($colors, primary);
      background-color:color($colors, light);
      color: #69717d;
      border-width: 1px;
    }
    .segment-button.segment-activated {
      color: black;
      background-color: white;
      border-bottom-style: none;
      border-top-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      &:last-of-type {
        border-right-style: none;
      }
      &:first-of-type {
        border-left-style: none;
      }
    }
  }
}
