<ion-header>
  <ion-navbar>
    <ion-title>Nachrichten</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let notification of notifications">
          <div *ngIf="notification.name === 'Friend Request'">
            <p text-wrap>
              Freundschaftsanfrage von {{ notification.user.name }}
            </p>
            <p text-wrap>
              <button ion-button (click)="accept(notification)" color="secondary" icon-left>
                <ion-icon name="checkmark"></ion-icon>
                Zustimmen
              </button>
              <button ion-button (click)="decline(notification)" color="danger" icon-left>
                <ion-icon name="close"></ion-icon>
                Ablehnen
              </button>
              <button ion-button (click)="viewProfile(notification.senderId, notification.notificationId)" color="light" icon-left>
                <ion-icon name="person"></ion-icon>
                Profil anschauen
              </button>
            </p>
          </div>

          <div *ngIf="notification.name === 'Evaluation'">
            <p text-wrap>
              Aufgabe bewerten: {{notification.taskId}}
            </p>
            <br>
            <p text-wrap>
              <button ion-button (click)="evaluate(notification)" color="secondary" icon-left>
                <ion-icon name="checkmark"></ion-icon>
                Bewerten
              </button>
              <button ion-button (click)="decline(notification)" color="danger" icon-left>
                <ion-icon name="close"></ion-icon>
                Ablehnen
              </button>
            </p>
          </div>

          <div *ngIf="notification.name === 'Task Invitation'">
            <p text-wrap>
              Aufgabeeinladung: {{notification.taskId}}
            </p>
            <br>
            <p text-wrap>
              <button ion-button (click)="joinTask(notification)" color="secondary" icon-left>
                <ion-icon name="checkmark"></ion-icon>
                Ich arbeite mit
              </button>
              <button ion-button (click)="decline(notification)" color="danger" icon-left>
                <ion-icon name="close"></ion-icon>
                Ablehnen
              </button>
              <button ion-button (click)="viewTask(notification.taskId, notification.notificationId)" color="light" icon-left>
                <ion-icon name=""></ion-icon>
                Aufgabedetails anschauen
              </button>
            </p>
          </div>
        </ion-item>
        <p *ngIf="notifications.filter(getVisibleNotifications).length < 1">
          Nichts hier.
        </p>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
