<ion-header>
  <ion-navbar>
    <ion-title>Meine Kompetenzen</ion-title>
    <ion-buttons end>
      <!--<button ion-button icon-only (click)="createNewCompetence()">
        <ion-icon name="add"></ion-icon>
      </button>-->
      <button ion-button icon-only (click)="addCompetence()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-item *ngFor="let comp of competences">
        <span (click)="comp.editing = !comp.editing">
          {{comp.competence.name}}
        </span>
        <ion-list *ngIf="comp.editing">
          <ion-item>
            {{comp.competence.description}}
          </ion-item>
          <ion-item>
            <ion-label stacked>Gefällt mir<span float-right>{{comp.likeValue}}</span></ion-label>
            <ion-range min="0" max="100" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="comp.likeValue" (ionChange)="updateCompetence(comp.competence)">
            </ion-range>
          </ion-item>
          <ion-item>
            <ion-label stacked>Kann ich<span float-right>{{comp.proficiencyValue}}</span></ion-label>
            <ion-range min="0" max="100" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="comp.proficiencyValue" (ionChange)="updateCompetence(comp.competence)">
            </ion-range>
          </ion-item>

          <ion-item>
            <button ion-button (click)="remove(comp.competence.id)" block color="danger">
              <ion-icon name="trash-outline"></ion-icon> Löschen
            </button>
          </ion-item>
        </ion-list>
      </ion-item>
  </ion-list>
</ion-content>
