<ion-header>
  <ion-navbar>
    <ion-title>Ortsuche</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save_address()">
        <ion-icon name="checkbox"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!--<ion-content *ngIf="map" data-tap-disabled="true">
  <leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map"></leaflet>
</ion-content>-->

<ion-content [attr.noScroll]="shouldScroll">
  <div class="mapContainer">
    <div id="map"></div>
    <div class="crosshair">
      <ion-icon name="md-locate"></ion-icon>
    </div>
  </div>
</ion-content>
