<ion-header>
 
    <ion-toolbar>
      <ion-title>Kompetenz Hinzufügen</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <div class="toolbar-buttons">
        <button ion-button (click)="cancel()" color="light" block> Abbrechen</button>
        <button ion-button (click)="add()" color="secondary" block> Speichern</button>
      </div>
    </ion-toolbar>


</ion-header>
<ion-content>
  <ion-card *ngIf="competenceAreaList.length > 0">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label stacked>Kompetenzbereich</ion-label>
          <ion-label *ngIf="competenceArea">
            {{competenceArea.name}}
            <ion-icon name="remove-circle" (click)="resetCompetenceArea()" float-right></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="newComp.id != -1">
          <ion-label stacked>Kompetenz</ion-label>
          <ion-label>
            {{newComp.name}}
            <ion-icon name="remove-circle" (click)="resetCompetence()" float-right></ion-icon>
          </ion-label>
        </ion-item>
        <ion-searchbar *ngIf="!competenceArea" (ionInput)="filterAreas($event)"></ion-searchbar>
        <ion-list *ngIf="!competenceArea">
          <button ion-item *ngFor="let area of competenceAreaList" (click)="getCompetencesForArea(area)"
                  [ngClass]="{'empty-competence-area': area.mappedCompetences.length == 0 }">
            {{area.name}}
          </button>
        </ion-list>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="competenceArea && newComp.id == -1">
    <ion-card-content>
      <ion-list>
        <button ion-item *ngFor="let item of competences" (click)="setCompetenceSelect(item)">
          {{item.name}}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="newComp.id != -1">
    <ion-card-content>
      <ion-list>
        <ion-item>
          {{newComp.description}}
        </ion-item>
        <ion-item>
          <ion-label stacked>Gefällt mir<span float-right>{{newComp.likeValue}}</span></ion-label>
          <ion-range min="0" max="100" [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="newComp.likeValue">
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label stacked>Kann ich<span float-right>{{newComp.proficiencyValue}}</span></ion-label>
          <ion-range min="0" max="100" [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="newComp.proficiencyValue">
          </ion-range>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
