<ion-header>
  <ion-navbar>
    <ion-title>Meine bisherigen Aufgaben</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="openTasks?.length == 0 && participatedTasks?.length == 0 && ledTasks?.length == 0">
    <ion-item padding>
      <p>Keine vergangene Aufgaben gefunden.</p>
    </ion-item>
  </ion-card>

  <ion-card task-list *ngIf="openTasks?.length > 0">
    <ion-card-header>
      Offene Evaluierungen
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <task-preview item-block *ngFor="let eval of openTasks" [task]="eval.task"
                      [clickData]="{loc:'evaluation-detail',params:{taskId: eval.task.id, evalId: eval.evaluation.id}}">
        </task-preview>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card task-list *ngIf="participatedTasks?.length > 0">
    <ion-card-header>
      Beendete teilgenommene Aufgaben
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <task-preview item-block *ngFor="let pTask of participatedTasks" [task]="pTask"></task-preview>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card task-list *ngIf="ledTasks?.length > 0">
    <ion-card-header>
      Von mir angeführte abgeschlossene Aufgaben
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <task-preview item-block *ngFor="let lTask of ledTasks" [task]="lTask"></task-preview>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
