<ion-header>
  <ion-navbar>
    <ion-title>Meine Geschichte</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="openTasks?.length == 0 && participatedTasks?.length == 0 && ledTasks?.length == 0">
    <ion-item padding>
      <p>Keine vergangene Aufgaben gefunden.</p>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="openTasks?.length > 0">
    <ion-card-header>
      Offene Evaluierungen
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let eval of openTasks" class="task-preview-wrapper"
                  (click)="goToEvaluation(eval)">
          <ion-list>
            <!-- NOTE:
            this is an ion-item component unwrapped into what ionic renders that into,
            just to make use of ionic's css.
            this was legal in ionic1, i hope it's alright in ionic2 as well?
            -->
            <div class="title item item-block item-md">
              <div class="item-inner">
                <div class="input-wrapper">
                  <div class="label label-md">
                    <div>{{ eval.task }}</div>
                  </div>
                </div>
              </div>
              <div class="button-effect"></div>
            </div>
            <!--<ion-item class="desc">
              <span *ngIf="isSingleTime">
                {{task?.startTime | date: 'dd.MM.yyyy -- H:mm'}}
              </span>
                  <span *ngIf="!isSingleTime && isSingleDate">
                {{task?.startTime | date: 'dd.MM.yyyy -- H:mm'}} - {{task.endTime | date: 'H:mm'}}
              </span>
                  <span *ngIf="!isSingleDate">
                {{task?.startTime | date: 'dd.MM.yyyy'}} - {{task.endTime | date: 'dd.MM.yyyy'}}
              </span>
            </ion-item>-->
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card task-list *ngIf="participatedTasks?.length > 0">
    <ion-card-header>
      Teilgenommene Aufgaben
    </ion-card-header>
    <ion-card>
      <ion-list>
        <task-preview item-block *ngFor="let pTask of participatedTasks" [task]="pTask"></task-preview>
      </ion-list>
    </ion-card>
  </ion-card>

  <ion-card task-list *ngIf="ledTasks?.length > 0">
    <ion-card-header>
      Von mir angeführte Aufgaben
    </ion-card-header>
    <ion-card>
      <ion-list>
        <task-preview item-block *ngFor="let lTask of ledTasks" [task]="lTask"></task-preview>
      </ion-list>
    </ion-card>
  </ion-card>

</ion-content>
