<ion-header>
  <ion-toolbar>
    <ion-title>Gruppen Einladen</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="toolbar-buttons">
      <button ion-button (click)="closeModal(initState)" color="light" block> Abbrechen </button>
      <button ion-button (click)="invite()" color="secondary" block> Einladen </button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      Gruppen
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Zwingend</ion-label>
          <ion-toggle [(ngModel)]="restrictive" [ngModelOptions]="{standalone: true}">
          </ion-toggle>
        </ion-item>
        <ion-item *ngFor="let group of groups">
          <ion-label>{{group.name}}</ion-label>
          <ion-checkbox [(ngModel)]="group.checked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
